Repository cosmos/interchain-security, pull requests merged in 2023-12, with the labels that each got.

#1460 fix!: improve message validation
  .changelog/unreleased/bug-fixes/1460-msg-validation.md
  .changelog/unreleased/state-breaking/1460-msg-validation.md
  tests/integration/expired_client.go
  tests/integration/slashing.go
  tests/integration/throttle.go
  tests/integration/valset_update.go
  x/ccv/consumer/ibc_module.go
  x/ccv/consumer/keeper/relay.go
  x/ccv/consumer/keeper/relay_test.go
  x/ccv/provider/ibc_module.go
  x/ccv/provider/keeper/relay.go
  x/ccv/provider/keeper/relay_test.go
  x/ccv/provider/types/errors.go
  x/ccv/provider/types/msg.go
  x/ccv/types/wire.go
  x/ccv/types/wire_test.go
Labels: C:Testing, C:x/consumer, C:x/provider, C:x/types

#1463 docs: reject ADR-007
  docs/docs/adrs/adr-003-equivocation-gov-proposal.md
  docs/docs/adrs/adr-007-pause-unbonding-on-eqv-prop.md
  docs/docs/adrs/adr-011-improving-test-confidence.md
  docs/docs/adrs/adr-013-equivocation-slashing.md
  docs/docs/adrs/intro.md
Labels: C:Docs, C:ADR

#1464 ci: updating some workflows and preparing for merge queues
  .github/issue_labeler.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/gosec.yml
  .github/workflows/issue_labeler.yml
  .github/workflows/linkchecker.yml
  .github/workflows/lint-pr.yml
  .github/workflows/md-link-checker.yml
  .github/workflows/test.yml
  Makefile
Labels: C:Build, C:CI

#1483 docs: Add all md files in root dir to linkchecker
  .github/PULL_REQUEST_TEMPLATE/production.md
  .github/workflows/md-link-checker.yml
  CHANGELOG.md
  CONTRIBUTING.md
  RELEASE_NOTES.md
  STATE-COMPATIBILITY.md
  TESTING.md
  UPGRADING.md
  tests/difference/core/README.md
Labels: C:Testing, C:CI

#1366 docs: A number of UI changes for Docusaurus
  docs/docs/adrs/adr-004-denom-dos-fixes.md
  docs/docs/adrs/adr-template.md
  docs/docs/adrs/intro.md
  docs/docusaurus.config.js
  docs/package-lock.json
  docs/package.json
  docs/src/css/base.css
  docs/src/css/custom.css
  docs/static/img/hub.svg
Labels: documentation, C:Docs, C:ADR, S: ImprovingThings

#1485 chore: fix docs deps and deploy workflow
  .github/workflows/deploy-docs.yml
Labels: tech-debt, S: KTLO

#1494 refactor: Capitalized e2e test action name
  tests/e2e/action_rapid_test.go
  tests/e2e/actions.go
  tests/e2e/actions_consumer_misbehaviour.go
  tests/e2e/actions_sovereign_chain.go
  tests/e2e/json_utils.go
  tests/e2e/main.go
  tests/e2e/step_delegation.go
  tests/e2e/steps_consumer_misbehaviour.go
  tests/e2e/steps_democracy.go
  tests/e2e/steps_double_sign.go
  tests/e2e/steps_downtime.go
  tests/e2e/steps_light_client_attack.go
  tests/e2e/steps_multi_consumer_delegation.go
  tests/e2e/steps_multi_consumer_double_sign.go
  tests/e2e/steps_multi_consumer_downtime.go
  tests/e2e/steps_reward_denom.go
  tests/e2e/steps_sovereign_changeover.go
  tests/e2e/steps_start_chains.go
  tests/e2e/steps_stop_chain.go
  tests/e2e/trace_handlers_test.go
  tests/e2e/tracehandler_testdata/changeover.json
  tests/e2e/tracehandler_testdata/consumer-double-sign.json
  tests/e2e/tracehandler_testdata/consumer-misbehaviour.json
  tests/e2e/tracehandler_testdata/democracy.json
  tests/e2e/tracehandler_testdata/democracyRewardsSteps.json
  tests/e2e/tracehandler_testdata/happyPath.json
  tests/e2e/tracehandler_testdata/multipleConsumers.json
  tests/e2e/tracehandler_testdata/shorthappy.json
  tests/e2e/tracehandler_testdata/slashThrottle.json
Labels: C:Testing

#1466 docs: Add guidelines for e2e tests
  .github/workflows/md-link-checker.yml
  tests/e2e/README.md
Labels: C:Testing, C:CI

#1493 chore(docs/docs): typo fix
  docs/docs/consumer-development/changeover-procedure.md
  docs/docs/consumer-development/consumer-genesis-transformation.md
  docs/docs/validators/changeover-procedure.md
Labels: C:Docs

#1490 docs: update docs on ICS slashing
  docs/docs/features/slashing.md
Labels: C:Docs

#1504 docs: fix typos
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
  docs/docs/consumer-development/changeover-procedure.md
  docs/docs/validators/changeover-procedure.md
  docs/docs/validators/overview.md
Labels: C:Docs

#1509 fix: missing transformation for field 'new_chain' in ccv consumer genesis
  app/consumer/genesis.go
  app/consumer/genesis_test.go
Labels: S: KTLO, A:backport/v4.0.x, A:backport/v3.3.x

#1491 ci: add condition for e2e CIs
  .github/workflows/test.yml
Labels: C:CI

#1489 docs: update docs for reward denom change
  docs/docs/consumer-development/onboarding.md
  docs/docs/features/proposals.md
  docs/docs/features/reward-distribution.md
  docs/docs/frequently-asked-questions.md
  docs/docs/introduction/params.md
  docs/docs/validators/changeover-procedure.md
Labels: C:Docs

#1505 ci: add codespell nightly workflow
  .github/.codespellignore
  .github/workflows/codespell.yml
Labels: C:CI

#1519 chore: fix spelling errors
  docs/docs/features/proposals.md
Labels: C:Docs

#1496 fix: `submit-consumer-misbehaviour` command in the provider module CLI
  x/ccv/provider/client/cli/tx.go
  x/ccv/provider/types/codec.go
Labels: C:x/provider, A:backport/v3.3.x

#1527 test: Upgrade tests/mbt and testutil/simibc
  tests/mbt/driver/common.go
  tests/mbt/driver/core.go
  tests/mbt/driver/mbt_test.go
  tests/mbt/driver/setup.go
  testutil/simibc/chain_util.go
  testutil/simibc/relay_util.go
Labels: C:Testing

#1536 chore: update migration handling for provider consensus v2->v3
  x/ccv/provider/keeper/throttle_legacy.go
  x/ccv/provider/migrations/migrator.go
  x/ccv/provider/migrations/v3/migration_test.go
  x/ccv/provider/migrations/v3/migrations.go
  x/ccv/provider/module.go
Labels: C:x/provider, S: KTLO

#1539 chore: update migration handling for consumer consensus v1->v2
  x/ccv/consumer/keeper/migration.go
  x/ccv/consumer/keeper/migrations.go
  x/ccv/consumer/migrations/v2/migration.go
  x/ccv/consumer/migrations/v2/migration_test.go
Labels: C:x/consumer

#1500 fix: Prevent Authz MsgExec bypass Interchain Security Disabled Modules Messages
  app/consumer/ante/disabled_modules_ante.go
  app/consumer/ante/disabled_modules_ante_test.go
Labels: C:Testing
