Repository cosmos/interchain-security, pull requests merged in 2023-11, with the labels that each got.

#1389 doc: update cryptographic feature ADR
  docs/docs/adrs/adr-005-cryptographic-equivocation-verification.md
Labels: C:Testing, C:x/consumer, C:x/provider, C:x/types, C:Build, C:CI, C:Docs, C:ADR

#1379 feat: Migrate submit proposal commands to sdk v50
  proto/interchain_security/ccv/provider/v1/provider.proto
  proto/interchain_security/ccv/provider/v1/tx.proto
  x/ccv/provider/client/cli/tx.go
  x/ccv/provider/client/legacy_proposal_handler.go
  x/ccv/provider/client/legacy_proposals.go
  x/ccv/provider/keeper/msg_server.go
  x/ccv/provider/keeper/proposal.go
  x/ccv/provider/keeper/proposal_test.go
  x/ccv/provider/proposal_handler.go
  x/ccv/provider/types/codec.go
  x/ccv/provider/types/errors.go
  x/ccv/provider/types/legacy_proposal.go
  x/ccv/provider/types/legacy_proposal_test.go
  x/ccv/provider/types/msg.go
  x/ccv/provider/types/provider.pb.go
  x/ccv/provider/types/tx.pb.go
Labels: C:x/provider

#1398 test: upgrade packetSniffer to latest ABCIListener API
  tests/integration/common.go
  tests/integration/setup.go
Labels: C:Testing

#1406 doc: update CHANGELOG for v2.3.0-provider-lsm release
  CHANGELOG.md
Labels: C:Testing, C:x/consumer, C:x/provider, C:x/types, C:Build, C:CI, C:Docs, C:ADR

#1407 docs: reject ADR 012
  .github/PULL_REQUEST_TEMPLATE/production.md
  CONTRIBUTING.md
  RELEASE_NOTES.md
  docs/docs/adrs/adr-012-separate-releasing.md
Labels: C:Docs, C:ADR

#1411 chore: remove `-consumer` prefix from v3.2.x
  .github/dependabot.yml
  .mergify.yml
Labels: C:CI

#1409 tests: enable e2e tests with sdk v50, ibc-go/v8
  Dockerfile
  app/provider/app.go
  cmd/interchain-security-pd/cmd/root.go
  cmd/interchain-security-sd/cmd/root.go
  tests/e2e/actions.go
  tests/e2e/steps.go
  tests/integration/normal_operations.go
  testutil/ibc_testing/generic_setup.go
  testutil/ibc_testing/specific_setup.go
  x/ccv/consumer/keeper/changeover_test.go
  x/ccv/consumer/keeper/keeper_test.go
  x/ccv/consumer/keeper/relay_test.go
  x/ccv/consumer/keeper/soft_opt_out_test.go
  x/ccv/consumer/keeper/validators_test.go
  x/ccv/consumer/module.go
Labels: C:Testing, C:x/consumer, C:Build

#1428 refactor: make GetAllValidators a no-op
  x/ccv/consumer/keeper/keeper.go
  x/ccv/consumer/keeper/validators.go
Labels: C:x/consumer

#1430 docs: adding details of why the ADR 012 was rejected
  docs/docs/adrs/adr-012-separate-releasing.md
Labels: C:Docs, C:ADR

#1408 feat!: ics parameter migration
  proto/interchain_security/ccv/provider/v1/query.proto
  proto/interchain_security/ccv/provider/v1/tx.proto
  x/ccv/consumer/keeper/keeper.go
  x/ccv/consumer/keeper/legacy_params.go
  x/ccv/consumer/keeper/migration.go
  x/ccv/consumer/keeper/migration_test.go
  x/ccv/consumer/keeper/params.go
  x/ccv/consumer/module.go
  x/ccv/consumer/types/keys.go
  x/ccv/consumer/types/keys_test.go
  x/ccv/provider/client/cli/query.go
  x/ccv/provider/keeper/grpc_query.go
  x/ccv/provider/keeper/keeper.go
  x/ccv/provider/keeper/legacy_params.go
  x/ccv/provider/keeper/migration.go
  x/ccv/provider/keeper/migration_test.go
  x/ccv/provider/keeper/msg_server.go
  x/ccv/provider/keeper/params.go
  x/ccv/provider/module.go
  x/ccv/provider/types/codec.go
  x/ccv/provider/types/keys.go
  x/ccv/provider/types/keys_test.go
  x/ccv/provider/types/params.go
  x/ccv/provider/types/query.pb.go
  x/ccv/provider/types/query.pb.gw.go
  x/ccv/provider/types/tx.pb.go
  x/ccv/types/params.go
Labels: C:x/consumer, C:x/provider, C:x/types

#1444 fix: auto-fill of gov address for provider 'draft-proposal'
  proto/interchain_security/ccv/provider/v1/tx.proto
  x/ccv/provider/keeper/msg_server.go
  x/ccv/provider/types/msg.go
  x/ccv/provider/types/tx.pb.go
Labels: C:x/provider

#1449 ci: update test workflow
  .github/workflows/automated-tests.yml
  .github/workflows/build.yml
  .github/workflows/gosec.yml
  .github/workflows/test.yml
  Makefile
  TESTING.md
  sonar-project.properties
Labels: C:Build, C:CI

#1339 feat!: key assignment checking key in use
  .changelog/unreleased/features/provider/1339-check-key-assignment-in-use.md
  .changelog/unreleased/state-breaking/provider/1339-check-key-assignment-in-use.md
  app/provider/app.go
  go.sum
  proto/interchain_security/ccv/provider/v1/query.proto
  tests/e2e/config.go
  tests/e2e/state.go
  tests/e2e/steps_start_chains.go
  tests/integration/setup.go
  testutil/keeper/mocks.go
  testutil/keeper/unit_test_helpers.go
  x/ccv/provider/client/cli/query.go
  x/ccv/provider/handler_test.go
  x/ccv/provider/keeper/grpc_query.go
  x/ccv/provider/keeper/hooks.go
  x/ccv/provider/keeper/hooks_test.go
  x/ccv/provider/keeper/keeper.go
  x/ccv/provider/keeper/keeper_test.go
  x/ccv/provider/keeper/key_assignment.go
  x/ccv/provider/keeper/key_assignment_test.go
  x/ccv/provider/keeper/msg_server.go
  x/ccv/provider/types/keys.go
  x/ccv/provider/types/keys_test.go
  x/ccv/provider/types/msg.go
  x/ccv/provider/types/query.pb.go
  x/ccv/provider/types/query.pb.gw.go
  x/ccv/types/expected_keepers.go
Labels: C:Testing, C:x/provider, C:x/types, S: KTLO

#1392 doc: update ADR-005 (#1389)
  docs/docs/adrs/adr-005-cryptographic-equivocation-verification.md
Labels: C:Docs, C:ADR
