Repository cosmos/interchain-security, pull requests merged in 2023-10, with the labels that each got.

#1289 feat!: store proposed chainID before voting finishes
  CHANGELOG.md
  app/provider/app.go
  proto/interchain_security/ccv/provider/v1/query.proto
  tests/e2e/config.go
  tests/e2e/state.go
  tests/e2e/steps_start_chains.go
  x/ccv/provider/client/cli/query.go
  x/ccv/provider/keeper/gov_hook.go
  x/ccv/provider/keeper/grpc_query.go
  x/ccv/provider/keeper/keeper.go
  x/ccv/provider/keeper/keeper_test.go
  x/ccv/provider/types/keys.go
  x/ccv/provider/types/keys_test.go
  x/ccv/provider/types/query.pb.go
  x/ccv/provider/types/query.pb.gw.go
Labels: C:Testing, C:x/provider

#1279 feat: update GetAllValidatorsByConsumerAddr for fast find consensus key in use
  tests/e2e/config.go
  x/ccv/provider/keeper/hooks.go
  x/ccv/provider/keeper/hooks_test.go
  x/ccv/provider/keeper/keeper.go
Labels: C:Testing, C:x/provider

#1341 test: cover consumer-gov in E2E democracy tests
  tests/e2e/config.go
  tests/e2e/main.go
  tests/e2e/steps_democracy.go
  tests/e2e/steps_reward_denom.go
  tests/e2e/tracehandler_testdata/democracy.json
  tests/e2e/tracehandler_testdata/democracyRewardsSteps.json
  tests/e2e/tracehandler_testdata/happyPath.json
  tests/e2e/tracehandler_testdata/shorthappy.json
Labels: C:Testing

#1321 feat!: completed throttle v2 (provider changes + migration + testing)
  CHANGELOG.md
  proto/interchain_security/ccv/consumer/v1/query.proto
  proto/interchain_security/ccv/provider/v1/provider.proto
  proto/interchain_security/ccv/provider/v1/query.proto
  proto/interchain_security/ccv/v1/shared_consumer.proto
  tests/difference/core/driver/setup.go
  tests/e2e/action_rapid_test.go
  tests/e2e/actions.go
  tests/e2e/config.go
  tests/e2e/json_utils.go
  tests/e2e/main.go
  tests/e2e/state.go
  tests/e2e/state_rapid_test.go
  tests/e2e/steps_downtime.go
  tests/e2e/tracehandler_testdata/changeover.json
  tests/e2e/tracehandler_testdata/democracy.json
  tests/e2e/tracehandler_testdata/democracyRewardsSteps.json
  tests/e2e/tracehandler_testdata/happyPath.json
  tests/e2e/tracehandler_testdata/multipleConsumers.json
  tests/e2e/tracehandler_testdata/shorthappy.json
  tests/e2e/tracehandler_testdata/slashThrottle.json
  tests/integration/common.go
  tests/integration/slashing.go
  tests/integration/stop_consumer.go
  tests/integration/throttle.go
  tests/integration/throttle_retry.go
  testutil/integration/debug_test.go
  testutil/keeper/unit_test_helpers.go
  x/ccv/consumer/client/cli/query.go
  x/ccv/consumer/keeper/grpc_query.go
  x/ccv/consumer/keeper/params.go
  x/ccv/consumer/keeper/params_test.go
  x/ccv/consumer/keeper/throttle_retry.go
  x/ccv/consumer/keeper/throttle_retry_test.go
  x/ccv/consumer/types/genesis_test.go
  x/ccv/consumer/types/params_test.go
  x/ccv/consumer/types/query.pb.go
  x/ccv/consumer/types/query.pb.gw.go
  x/ccv/provider/client/cli/query.go
  x/ccv/provider/keeper/grpc_query.go
  x/ccv/provider/keeper/migration.go
  x/ccv/provider/keeper/migration_test.go
  x/ccv/provider/keeper/params.go
  x/ccv/provider/keeper/params_test.go
  x/ccv/provider/keeper/proposal.go
  x/ccv/provider/keeper/proposal_test.go
  x/ccv/provider/keeper/relay.go
  x/ccv/provider/keeper/relay_test.go
  x/ccv/provider/keeper/throttle.go
  x/ccv/provider/keeper/throttle_test.go
  x/ccv/provider/module.go
  x/ccv/provider/types/genesis_test.go
  x/ccv/provider/types/params.go
  x/ccv/provider/types/params_test.go
  x/ccv/provider/types/provider.pb.go
  x/ccv/provider/types/query.pb.go
  x/ccv/provider/types/query.pb.gw.go
  x/ccv/types/params.go
  x/ccv/types/shared_consumer.pb.go
Labels: C:Testing, C:x/consumer, C:x/provider, C:x/types

#1283 doc: update ADR-005 with consumer double voting
  docs/docs/adrs/adr-005-cryptographic-equivocation-verification.md
Labels: C:Docs, C:ADR, A:backport/v2.1.x-provider-lsm

#1343 docs: Add more details to the test framework README
  Makefile
  tests/e2e/README.md
Labels: C:Testing, C:Build

#1350 refactor: cleanup ccv types
  go.mod
  x/ccv/consumer/ibc_module.go
  x/ccv/consumer/keeper/distribution.go
  x/ccv/consumer/keeper/relay.go
  x/ccv/consumer/types/events.go
  x/ccv/provider/keeper/keeper.go
  x/ccv/provider/keeper/msg_server.go
  x/ccv/provider/keeper/proposal.go
  x/ccv/provider/keeper/proposal_test.go
  x/ccv/provider/keeper/relay.go
  x/ccv/provider/types/errors.go
  x/ccv/provider/types/events.go
  x/ccv/types/codec.go
  x/ccv/types/errors.go
  x/ccv/types/events.go
Labels: C:x/consumer, C:x/provider, C:x/types

#1354 consumer: update consumer app v50 and make buildable
  app/consumer/abci.go
  app/consumer/app.go
  app/consumer/export.go
  app/provider/app.go
  cmd/interchain-security-cd/cmd/root.go
  cmd/interchain-security-cd/main.go
  cmd/interchain-security-pd/cmd/root.go
  x/ccv/consumer/keeper/hooks.go
  x/ccv/consumer/keeper/keeper.go
  x/ccv/consumer/keeper/params.go
  x/ccv/consumer/keeper/validators.go
  x/ccv/types/expected_keepers.go
Labels: C:Testing, C:x/consumer, C:x/types

#1324 refactor!: Split out consumer genesis state
  app/consumer-democracy/app.go
  app/consumer/genesis.go
  app/consumer/genesis_test.go
  cmd/interchain-security-cd/cmd/root.go
  docs/docs/consumer-development/changeover-procedure.md
  docs/docs/consumer-development/consumer-genesis-transformation.md
  docs/docs/consumer-development/onboarding.md
  proto/interchain_security/ccv/consumer/v1/consumer.proto
  proto/interchain_security/ccv/consumer/v1/genesis.proto
  proto/interchain_security/ccv/consumer/v1/query.proto
  proto/interchain_security/ccv/provider/v1/genesis.proto
  proto/interchain_security/ccv/provider/v1/provider.proto
  proto/interchain_security/ccv/provider/v1/tx.proto
  proto/interchain_security/ccv/v1/shared_consumer.proto
  tests/difference/core/driver/setup.go
  tests/integration/setup.go
  testutil/ibc_testing/generic_setup.go
  testutil/ibc_testing/specific_setup.go
  x/ccv/consumer/keeper/distribution.go
  x/ccv/consumer/keeper/genesis.go
  x/ccv/consumer/keeper/genesis_test.go
  x/ccv/consumer/keeper/keeper.go
  x/ccv/consumer/keeper/keeper_test.go
  x/ccv/consumer/keeper/migration.go
  x/ccv/consumer/keeper/migration_test.go
  x/ccv/consumer/module.go
  x/ccv/consumer/types/consumer.pb.go
  x/ccv/consumer/types/genesis.go
  x/ccv/consumer/types/genesis.pb.go
  x/ccv/consumer/types/genesis_test.go
  x/ccv/provider/keeper/proposal_test.go
  x/ccv/provider/types/genesis.pb.go
  x/ccv/provider/types/provider.pb.go
  x/ccv/provider/types/tx.pb.go
  x/ccv/types/genesis.go
  x/ccv/types/shared_consumer.pb.go
Labels: C:Testing, C:x/consumer, C:x/provider, C:x/types, C:Docs

#1355 provider: rm equivocation evidence handling v50
  app/provider/app.go
  proto/interchain_security/ccv/provider/v1/provider.proto
  testutil/keeper/mocks.go
  testutil/keeper/unit_test_helpers.go
  x/ccv/provider/client/proposal_handler.go
  x/ccv/provider/client/proposals.go
  x/ccv/provider/keeper/keeper.go
  x/ccv/provider/keeper/proposal.go
  x/ccv/provider/keeper/proposal_test.go
  x/ccv/provider/module_test.go
  x/ccv/provider/proposal_handler.go
  x/ccv/provider/proposal_handler_test.go
  x/ccv/provider/types/codec.go
  x/ccv/provider/types/proposal.go
  x/ccv/provider/types/proposal_test.go
  x/ccv/provider/types/provider.pb.go
  x/ccv/types/expected_keepers.go
Labels: C:Testing, C:x/provider, C:x/types

#1358 democracy: update democracy consumer v50
  app/consumer-democracy/abci.go
  app/consumer-democracy/ante/forbidden_proposals_ante_test.go
  app/consumer-democracy/app.go
  app/consumer-democracy/export.go
  app/provider/app.go
  cmd/interchain-security-cd/cmd/root.go
  cmd/interchain-security-cdd/cmd/root.go
  cmd/interchain-security-cdd/main.go
  cmd/interchain-security-sd/main.go
  x/ccv/democracy/governance/module.go
  x/ccv/democracy/staking/module.go
Labels: C:Testing, C:x/democracy

#1367 tests: cleanup integration tests
  app/consumer-democracy/app.go
  app/consumer/app.go
  app/sovereign/app.go
  tests/integration/common.go
  tests/integration/democracy.go
  tests/integration/distribution.go
  tests/integration/expired_client.go
  tests/integration/setup.go
  tests/integration/slashing.go
  tests/integration/stop_consumer.go
  tests/integration/throttle.go
  tests/integration/throttle_retry.go
  tests/integration/unbonding.go
  testutil/ibc_testing/specific_setup.go
  testutil/integration/interfaces.go
  testutil/simibc/README.md
  testutil/simibc/ordered_outbox.go
  testutil/simibc/relay_util.go
  testutil/simibc/relayed_path.go
Labels: C:Testing

#1336 Add Quint model of Interchain Security
  tests/difference/core/quint_model/README.md
  tests/difference/core/quint_model/ccv.qnt
  tests/difference/core/quint_model/ccv_model.qnt
  tests/difference/core/quint_model/ccv_test.qnt
  tests/difference/core/quint_model/libraries/Time.qnt
  tests/difference/core/quint_model/libraries/extraSpells.qnt
  tests/difference/core/quint_model/run_invariants.sh
Labels: C:Testing
