Repository cosmos/interchain-security, pull requests merged in 2023-09, with the labels that each got.

#1244 fix!: validate MsgTransfer before calling Transfer()
  CHANGELOG.md
  tests/integration/distribution.go
  testutil/integration/debug_test.go
  x/ccv/consumer/keeper/distribution.go
  x/ccv/types/params.go
Labels: C:Testing, C:x/consumer, C:x/types

#1229 docs: Create adr-012-separate-releasing.md
  docs/docs/adrs/adr-012-separate-releasing.md
Labels: C:Docs, C:ADR

#1267 merge main into throttle feat branch
  .github/PULL_REQUEST_TEMPLATE/production.md
  .github/workflows/automated-tests.yml
  .github/workflows/build.yml
  .github/workflows/codeql.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/gosec.yml
  .github/workflows/linkchecker.yml
  .github/workflows/manual-e2e.yml
  .github/workflows/nightly-e2e.yml
  .github/workflows/proto-registry.yml
  .github/workflows/proto.yml
  CHANGELOG.md
  CONTRIBUTING.md
  RELEASE_NOTES.md
  docs/docs/adrs/adr-012-separate-releasing.md
  go.mod
  go.sum
  tests/integration/distribution.go
  testutil/integration/debug_test.go
  x/ccv/consumer/keeper/distribution.go
  x/ccv/consumer/types/params_test.go
  x/ccv/types/params.go
Labels: C:Testing, C:x/consumer, C:x/types, C:CI, C:Docs, C:ADR

#1185 chore: remove legacy_ibc_testing (rebased on main)
  app/consumer-democracy/app.go
  app/consumer-democracy/proposals_whitelisting_test.go
  app/consumer/app.go
  app/provider/app.go
  app/sovereign/app.go
  legacy_ibc_testing/README.md
  legacy_ibc_testing/core/events.go
  legacy_ibc_testing/core/expected_keepers.go
  legacy_ibc_testing/simapp/helpers/test_helpers.go
  legacy_ibc_testing/simapp/test_helpers.go
  legacy_ibc_testing/testing/app.go
  legacy_ibc_testing/testing/chain.go
  legacy_ibc_testing/testing/config.go
  legacy_ibc_testing/testing/coordinator.go
  legacy_ibc_testing/testing/endpoint.go
  legacy_ibc_testing/testing/events.go
  legacy_ibc_testing/testing/path.go
  legacy_ibc_testing/testing/utils.go
  legacy_ibc_testing/testing/values.go
  tests/difference/core/driver/core_test.go
  tests/difference/core/driver/setup.go
  tests/integration/common.go
  tests/integration/democracy.go
  tests/integration/expired_client.go
  tests/integration/setup.go
  tests/integration/slashing.go
  tests/integration/throttle.go
  tests/integration/throttle_retry.go
  tests/integration/unbonding.go
  tests/integration/valset_update.go
  testutil/ibc_testing/generic_setup.go
  testutil/ibc_testing/specific_setup.go
  testutil/integration/interfaces.go
  testutil/integration/validators.go
  testutil/simibc/chain_util.go
  testutil/simibc/relay_util.go
  testutil/simibc/relayed_path.go
  x/ccv/provider/ibc_module.go
  x/ccv/provider/keeper/keeper_test.go
  x/ccv/provider/keeper/relay_test.go
  x/ccv/types/utils_test.go
Labels: C:Testing, C:x/provider, C:x/types

#1272 tests: increase timeout in nightly e2e for multiconsumer
  .github/workflows/manual-e2e.yml
  .github/workflows/nightly-e2e.yml
Labels: C:CI

#1249 test: Add light client attack to e2e tests
  tests/e2e/actions.go
  tests/e2e/main.go
  tests/e2e/steps.go
  tests/e2e/steps_light_client_attack.go
Labels: C:Testing

#1281 ci: update mergify and dependabot for v2.x-lsm
  .github/dependabot.yml
  .mergify.yml
Labels: C:CI

#1280 feat!: provider proposal for changing reward denoms
  CHANGELOG.md
  app/provider/app.go
  docs/docs/features/proposals.md
  proto/interchain_security/ccv/provider/v1/provider.proto
  proto/interchain_security/ccv/provider/v1/tx.proto
  tests/e2e/actions.go
  tests/e2e/main.go
  tests/e2e/steps_democracy.go
  tests/e2e/steps_reward_denom.go
  tests/integration/distribution.go
  x/ccv/provider/client/cli/tx.go
  x/ccv/provider/client/proposal_handler.go
  x/ccv/provider/handler.go
  x/ccv/provider/keeper/distribution.go
  x/ccv/provider/keeper/distribution_test.go
  x/ccv/provider/keeper/msg_server.go
  x/ccv/provider/keeper/proposal.go
  x/ccv/provider/proposal_handler.go
  x/ccv/provider/proposal_handler_test.go
  x/ccv/provider/types/codec.go
  x/ccv/provider/types/msg.go
  x/ccv/provider/types/proposal.go
  x/ccv/provider/types/proposal_test.go
  x/ccv/provider/types/provider.pb.go
  x/ccv/provider/types/tx.pb.go
  x/ccv/types/events.go
Labels: C:Testing, C:x/provider, C:x/types, C:Docs, A:backport/v2.1.x-lsm

#1252 docs: introduce ADR on slashing on the provider chain
  docs/docs/adrs/adr-011-improving-test-confidence.md
  docs/docs/adrs/adr-013-equivocation-slashing.md
  docs/docs/adrs/intro.md
Labels: C:Docs, C:ADR

#1297 ci: update mergify and dependabot for v3.2.x-consumer
  .github/dependabot.yml
  .mergify.yml
Labels: C:CI

#1305 ci: update bots for v2.1.x-provider-lsm
  .github/dependabot.yml
  .mergify.yml
Labels: C:CI

#1230 feat!: throttle with retries provider changes
  CHANGELOG.md
  proto/interchain_security/ccv/provider/v1/query.proto
  tests/e2e/actions.go
  tests/e2e/main.go
  tests/e2e/state.go
  tests/e2e/steps_downtime.go
  tests/integration/common.go
  tests/integration/slashing.go
  tests/integration/stop_consumer.go
  tests/integration/throttle.go
  tests/integration/throttle_retry.go
  testutil/integration/debug_test.go
  testutil/keeper/unit_test_helpers.go
  x/ccv/provider/client/cli/query.go
  x/ccv/provider/keeper/grpc_query.go
  x/ccv/provider/keeper/proposal.go
  x/ccv/provider/keeper/proposal_test.go
  x/ccv/provider/keeper/relay.go
  x/ccv/provider/keeper/relay_test.go
  x/ccv/provider/keeper/throttle.go
  x/ccv/provider/keeper/throttle_test.go
  x/ccv/provider/module.go
  x/ccv/provider/types/query.pb.go
  x/ccv/provider/types/query.pb.gw.go
Labels: C:Testing, C:x/provider

#1303 Fix `build` in makefile
  .gitignore
  Makefile
Labels: C:Build, S: Productivity

#1285 feat: consumer throttle state query
  proto/interchain_security/ccv/consumer/v1/query.proto
  tests/e2e/state.go
  tests/e2e/steps_downtime.go
  x/ccv/consumer/client/cli/query.go
  x/ccv/consumer/keeper/grpc_query.go
  x/ccv/consumer/types/query.pb.go
  x/ccv/consumer/types/query.pb.gw.go
Labels: C:Testing, C:x/consumer

#1308 feat: retry delay period as param
  proto/interchain_security/ccv/v1/shared_consumer.proto
  tests/difference/core/driver/setup.go
  x/ccv/consumer/keeper/params.go
  x/ccv/consumer/keeper/params_test.go
  x/ccv/consumer/keeper/throttle_retry.go
  x/ccv/consumer/keeper/throttle_retry_test.go
  x/ccv/consumer/types/genesis_test.go
  x/ccv/consumer/types/params_test.go
  x/ccv/provider/keeper/proposal.go
  x/ccv/provider/keeper/proposal_test.go
  x/ccv/types/params.go
  x/ccv/types/shared_consumer.pb.go
Labels: C:Testing, C:x/consumer, C:x/provider, C:x/types

#1312 tests: throttle retry e2e tests
  tests/e2e/actions.go
  tests/e2e/config.go
  tests/e2e/main.go
  tests/e2e/steps_downtime.go
Labels: C:Testing

#1295 feat: increment consensus ver and register migration
  CHANGELOG.md
  x/ccv/consumer/keeper/migration.go
  x/ccv/consumer/module.go
Labels: C:x/consumer, A:backport/v3.2.x-consumer

#1313 tests: Export struct fields in the e2e tests
  tests/e2e/actions.go
  tests/e2e/actions_sovereign_chain.go
  tests/e2e/config.go
  tests/e2e/main.go
  tests/e2e/state.go
  tests/e2e/step_delegation.go
  tests/e2e/steps.go
  tests/e2e/steps_democracy.go
  tests/e2e/steps_double_sign.go
  tests/e2e/steps_downtime.go
  tests/e2e/steps_light_client_attack.go
  tests/e2e/steps_multi_consumer_delegation.go
  tests/e2e/steps_multi_consumer_double_sign.go
  tests/e2e/steps_multi_consumer_downtime.go
  tests/e2e/steps_reward_denom.go
  tests/e2e/steps_sovereign_changeover.go
  tests/e2e/steps_start_chains.go
  tests/e2e/steps_stop_chain.go
  tests/e2e/steps_submit_equivocation_proposal.go
Labels: C:Testing

#1314 test: Add json marshal/unmarshal for test traces
  go.mod
  tests/e2e/README.md
  tests/e2e/action_rapid_test.go
  tests/e2e/actions.go
  tests/e2e/json_marshal_test.go
  tests/e2e/json_parser.go
  tests/e2e/json_utils.go
  tests/e2e/json_writer.go
  tests/e2e/main.go
  tests/e2e/state_rapid_test.go
  tests/e2e/step_rapid_test.go
  tests/e2e/steps_downtime.go
  tests/e2e/trace_handlers_test.go
  tests/e2e/tracehandler_testdata/changeover.json
  tests/e2e/tracehandler_testdata/democracy.json
  tests/e2e/tracehandler_testdata/democracyRewardsSteps.json
  tests/e2e/tracehandler_testdata/happyPath.json
  tests/e2e/tracehandler_testdata/multipleConsumers.json
  tests/e2e/tracehandler_testdata/shorthappy.json
  tests/e2e/tracehandler_testdata/slashThrottle.json
Labels: C:Testing

#1318 test: introduce flag for trace input to e2e framework
  .github/workflows/automated-tests.yml
  Makefile
  tests/e2e/actions.go
  tests/e2e/actions_sovereign_chain.go
  tests/e2e/config.go
  tests/e2e/main.go
  tests/e2e/state.go
Labels: C:Testing, C:Build, C:CI

#1333 refactor: RepresentativePowers to StakedTokens
  tests/e2e/state.go
  tests/e2e/state_rapid_test.go
  tests/e2e/steps_democracy.go
  tests/e2e/steps_reward_denom.go
  tests/e2e/tracehandler_testdata/changeover.json
  tests/e2e/tracehandler_testdata/democracy.json
  tests/e2e/tracehandler_testdata/democracyRewardsSteps.json
  tests/e2e/tracehandler_testdata/happyPath.json
  tests/e2e/tracehandler_testdata/multipleConsumers.json
  tests/e2e/tracehandler_testdata/shorthappy.json
  tests/e2e/tracehandler_testdata/slashThrottle.json
Labels: C:Testing

#1332 feat: remove max throttled packets param
  proto/interchain_security/ccv/provider/v1/provider.proto
  x/ccv/provider/keeper/params.go
  x/ccv/provider/keeper/params_test.go
  x/ccv/provider/keeper/proposal_test.go
  x/ccv/provider/types/genesis_test.go
  x/ccv/provider/types/params.go
  x/ccv/provider/types/params_test.go
  x/ccv/provider/types/provider.pb.go
Labels: C:x/provider
