Repository cosmos/interchain-security, pull requests merged in 2023-08, with the labels that each got.

#1120 deps!: support cosmos-sdk-v45-ics-lsm integration
  CHANGELOG.md
  go.mod
  go.sum
  legacy_ibc_testing/testing/app.go
  tests/difference/core/driver/setup.go
  tests/e2e/actions.go
  tests/e2e/main.go
  tests/e2e/step_delegation.go
  tests/e2e/steps.go
  testutil/keeper/mocks.go
  x/ccv/provider/keeper/hooks.go
  x/ccv/provider/keeper/relay.go
  x/ccv/types/expected_keepers.go
Labels: cosmos-sdk, ccv-core, dependencies

#1077 other: remove depguard and bump golangci-lint
  .github/workflows/golangci-lint.yml
Labels: C:CI

#1169 test: introduce tests for OnTimeoutPacket and OnAcknowledgementPacket
  testutil/keeper/expectations.go
  testutil/keeper/unit_test_helpers.go
  x/ccv/provider/keeper/proposal_test.go
  x/ccv/provider/keeper/relay_test.go
  x/ccv/provider/proposal_handler_test.go
Labels: C:Testing, C:x/provider

#1228 supress gosec false positives
  x/ccv/consumer/types/keys.go
  x/ccv/types/events.go
Labels: C:x/consumer, C:x/types

#1225 feat: improve ICS misbehaviour E2E testing coverage
  tests/e2e/actions_consumer_misbehaviour.go
  tests/e2e/main.go
  tests/e2e/steps_consumer_misbehaviour.go
Labels: testing

#1197 docs: add testing improvements ADR (adr-011)
  docs/docs/adrs/adr-011-improving-test-confidence.md
  docs/figures/cometmock_matrix_test.png
  docs/figures/matrix_e2e_tests.png
Labels: C:Docs, C:ADR

#1071 refactor: clean protos for clarity
  app/consumer-democracy/app.go
  legacy_ibc_testing/testing/app.go
  proto/interchain_security/ccv/consumer/v1/consumer.proto
  proto/interchain_security/ccv/consumer/v1/genesis.proto
  proto/interchain_security/ccv/consumer/v1/query.proto
  proto/interchain_security/ccv/provider/v1/genesis.proto
  proto/interchain_security/ccv/provider/v1/provider.proto
  proto/interchain_security/ccv/provider/v1/query.proto
  proto/interchain_security/ccv/v1/shared_consumer.proto
  proto/interchain_security/ccv/v1/wire.proto
  tests/difference/core/driver/setup.go
  tests/e2e/actions.go
  tests/integration/distribution.go
  tests/integration/normal_operations.go
  tests/integration/setup.go
  testutil/keeper/unit_test_helpers.go
  x/ccv/consumer/ibc_module.go
  x/ccv/consumer/ibc_module_test.go
  x/ccv/consumer/keeper/distribution.go
  x/ccv/consumer/keeper/distribution_test.go
  x/ccv/consumer/keeper/genesis.go
  x/ccv/consumer/keeper/genesis_test.go
  x/ccv/consumer/keeper/keeper.go
  x/ccv/consumer/keeper/keeper_test.go
  x/ccv/consumer/keeper/params.go
  x/ccv/consumer/keeper/params_test.go
  x/ccv/consumer/keeper/relay_test.go
  x/ccv/consumer/keeper/soft_opt_out_test.go
  x/ccv/consumer/module.go
  x/ccv/consumer/types/consumer.pb.go
  x/ccv/consumer/types/genesis.pb.go
  x/ccv/consumer/types/genesis_test.go
  x/ccv/consumer/types/params_test.go
  x/ccv/consumer/types/query.pb.go
  x/ccv/provider/ibc_module.go
  x/ccv/provider/ibc_module_test.go
  x/ccv/provider/keeper/genesis.go
  x/ccv/provider/keeper/genesis_test.go
  x/ccv/provider/keeper/keeper.go
  x/ccv/provider/keeper/proposal.go
  x/ccv/provider/keeper/proposal_test.go
  x/ccv/provider/types/consumer.go
  x/ccv/provider/types/genesis.go
  x/ccv/provider/types/genesis.pb.go
  x/ccv/provider/types/genesis_test.go
  x/ccv/provider/types/params.go
  x/ccv/provider/types/provider.pb.go
  x/ccv/provider/types/query.pb.go
  x/ccv/types/genesis.go
  x/ccv/types/params.go
  x/ccv/types/shared_consumer.pb.go
  x/ccv/types/wire.go
  x/ccv/types/wire.pb.go
  x/ccv/types/wire_test.go
Labels: C:Testing, C:x/consumer, C:x/provider, C:x/types

#1234 Shawn/update throttle feat branch
  app/consumer-democracy/app.go
  docs/docs/adrs/adr-011-improving-test-confidence.md
  docs/figures/cometmock_matrix_test.png
  docs/figures/matrix_e2e_tests.png
  legacy_ibc_testing/testing/app.go
  proto/interchain_security/ccv/consumer/v1/consumer.proto
  proto/interchain_security/ccv/consumer/v1/genesis.proto
  proto/interchain_security/ccv/consumer/v1/query.proto
  proto/interchain_security/ccv/provider/v1/genesis.proto
  proto/interchain_security/ccv/provider/v1/provider.proto
  proto/interchain_security/ccv/provider/v1/query.proto
  proto/interchain_security/ccv/v1/shared_consumer.proto
  proto/interchain_security/ccv/v1/wire.proto
  tests/difference/core/driver/setup.go
  tests/e2e/actions.go
  tests/integration/distribution.go
  tests/integration/normal_operations.go
  tests/integration/setup.go
  testutil/keeper/unit_test_helpers.go
  x/ccv/consumer/ibc_module.go
  x/ccv/consumer/ibc_module_test.go
  x/ccv/consumer/keeper/distribution.go
  x/ccv/consumer/keeper/distribution_test.go
  x/ccv/consumer/keeper/genesis.go
  x/ccv/consumer/keeper/genesis_test.go
  x/ccv/consumer/keeper/keeper.go
  x/ccv/consumer/keeper/keeper_test.go
  x/ccv/consumer/keeper/params.go
  x/ccv/consumer/keeper/params_test.go
  x/ccv/consumer/keeper/relay_test.go
  x/ccv/consumer/keeper/soft_opt_out_test.go
  x/ccv/consumer/module.go
  x/ccv/consumer/types/consumer.pb.go
  x/ccv/consumer/types/genesis.pb.go
  x/ccv/consumer/types/genesis_test.go
  x/ccv/consumer/types/params_test.go
  x/ccv/consumer/types/query.pb.go
  x/ccv/provider/ibc_module.go
  x/ccv/provider/ibc_module_test.go
  x/ccv/provider/keeper/genesis.go
  x/ccv/provider/keeper/genesis_test.go
  x/ccv/provider/keeper/keeper.go
  x/ccv/provider/keeper/proposal.go
  x/ccv/provider/keeper/proposal_test.go
  x/ccv/provider/types/consumer.go
  x/ccv/provider/types/genesis.go
  x/ccv/provider/types/genesis.pb.go
  x/ccv/provider/types/genesis_test.go
  x/ccv/provider/types/params.go
  x/ccv/provider/types/provider.pb.go
  x/ccv/provider/types/query.pb.go
  x/ccv/types/genesis.go
  x/ccv/types/params.go
  x/ccv/types/shared_consumer.pb.go
  x/ccv/types/wire.go
  x/ccv/types/wire.pb.go
  x/ccv/types/wire_test.go
Labels: C:Testing, C:x/consumer, C:x/provider, C:x/types, C:Docs, C:ADR

#1236 Add waitBlocks for *both* chains on relayPackets
  tests/e2e/actions.go
Labels: C:Testing

#1211 chore: improve logging in getValPower
  tests/e2e/state.go
Labels: C:Testing
