Repository cosmos/interchain-security, pull requests merged in 2024-07, with the labels that each got.

#2004 fix!: typo in error codes
  x/ccv/provider/types/errors.go
Labels: C:x/provider

#1990 refactor!: Refactor the validator set storage and add provider consensus validator storage
  x/ccv/provider/keeper/provider_consensus.go
  x/ccv/provider/keeper/provider_consensus_test.go
  x/ccv/provider/keeper/validator_set_storage.go
  x/ccv/provider/keeper/validator_set_update.go
  x/ccv/provider/types/keys.go
  x/ccv/provider/types/keys_test.go
Labels: C:x/provider

#2007 fix!: add check for the height of evidence
  .changelog/unreleased/bug-fixes/provider/2007-evidence-min-height-filter.md
  .changelog/unreleased/state-breaking/provider/2007-evidence-min-height-filter.md
  tests/integration/double_vote.go
  tests/integration/misbehaviour.go
  x/ccv/provider/keeper/consumer_equivocation.go
  x/ccv/provider/keeper/proposal.go
Labels: C:Testing, C:x/provider, A:backport/v4.2.x, A:backport/v4.2.x-lsm

#2008 fix!: add check for min height of evidence (backport #2007)
  .changelog/unreleased/bug-fixes/provider/2008-evidence-min-height-filter.md
  .changelog/unreleased/state-breaking/provider/2008-evidence-min-height-filter.md
  tests/integration/double_vote.go
  tests/integration/misbehaviour.go
  x/ccv/provider/keeper/consumer_equivocation.go
  x/ccv/provider/keeper/proposal.go
Labels: C:Testing, C:x/provider

#2014 build: use dedicated CI runner for tests
  .github/workflows/golangci-lint.yml
  .github/workflows/test.yml
Labels: C:CI

#2016 chore: update changelog for ICS v4.3.1 and v4.3.1-lsm releases
  .changelog/v4.3.1/bug-fixes/provider/2007-evidence-min-height-filter.md
  .changelog/v4.3.1/state-breaking/provider/2007-evidence-min-height-filter.md
  .changelog/v4.3.1/summary.md
  CHANGELOG.md
Labels: A:backport/v4.3.x-lsm

#2017 fix!: add check for the height of evidence (backport #2007)
  .changelog/v4.2.1/bug-fixes/provider/2008-evidence-min-height-filter.md
  .changelog/v4.2.1/state-breaking/provider/2008-evidence-min-height-filter.md
  .changelog/v4.2.1/summary.md
  CHANGELOG.md
  tests/integration/double_vote.go
  tests/integration/misbehaviour.go
  x/ccv/provider/keeper/consumer_equivocation.go
  x/ccv/provider/keeper/proposal.go
Labels: C:Testing, C:x/provider

#2019 test: fix e2e compatiblity tests for provider v4.3.0-lsm
  .github/workflows/nightly-e2e.yml
  tests/e2e/config.go
Labels: C:Testing, C:CI

#2012 feat: Initialize the max validators parameter for existing consumers
  x/ccv/provider/migrations/vX/migrations.go
Labels: C:x/provider

#1993 feat!: Wire the provider module to return ValidatorUpdates, instead of the staking module
  .github/workflows/nightly-e2e.yml
  app/consumer-democracy/proposals_whitelisting.go
  app/provider/app.go
  app/sovereign/export.go
  proto/interchain_security/ccv/provider/v1/genesis.proto
  proto/interchain_security/ccv/provider/v1/provider.proto
  tests/e2e/config.go
  tests/e2e/main.go
  tests/e2e/state.go
  tests/e2e/steps_inactive_vals.go
  tests/integration/slashing.go
  testutil/keeper/mocks.go
  x/ccv/consumer/types/codec.go
  x/ccv/democracy/governance/module.go
  x/ccv/no_valupdates_genutil/doc.go
  x/ccv/no_valupdates_genutil/module.go
  x/ccv/no_valupdates_staking/doc.go
  x/ccv/no_valupdates_staking/module.go
  x/ccv/provider/keeper/consumer_equivocation.go
  x/ccv/provider/keeper/distribution.go
  x/ccv/provider/keeper/distribution_test.go
  x/ccv/provider/keeper/genesis.go
  x/ccv/provider/keeper/genesis_test.go
  x/ccv/provider/keeper/grpc_query.go
  x/ccv/provider/keeper/grpc_query_test.go
  x/ccv/provider/keeper/msg_server.go
  x/ccv/provider/keeper/partial_set_security.go
  x/ccv/provider/keeper/partial_set_security_test.go
  x/ccv/provider/keeper/proposal.go
  x/ccv/provider/keeper/provider_consensus.go
  x/ccv/provider/keeper/provider_consensus_test.go
  x/ccv/provider/keeper/relay.go
  x/ccv/provider/keeper/relay_test.go
  x/ccv/provider/keeper/validator_set_storage.go
  x/ccv/provider/keeper/validator_set_update.go
  x/ccv/provider/keeper/validator_set_update_test.go
  x/ccv/provider/migrations/vX/migrations.go
  x/ccv/provider/module.go
  x/ccv/provider/module_test.go
  x/ccv/provider/types/codec.go
  x/ccv/provider/types/genesis.go
  x/ccv/provider/types/genesis.pb.go
  x/ccv/provider/types/genesis_test.go
  x/ccv/provider/types/msg.go
  x/ccv/provider/types/params.go
  x/ccv/provider/types/provider.pb.go
  x/ccv/types/expected_keepers.go
  x/ccv/types/utils.go
Labels: C:Testing, C:x/consumer, C:x/provider, C:x/types, C:CI, C:x/democracy

#2005 test: enable the simulator for the provider module
  .github/workflows/simulation.yml
  Makefile
  app/provider/app.go
  app/provider/sim_test.go
  x/ccv/provider/keeper/invariants.go
  x/ccv/provider/module.go
  x/ccv/provider/simulation/genesis.go
Labels: C:Testing, C:x/consumer, C:x/provider, C:x/types, C:Build, C:CI, C:x/democracy

#2000 chore: rm mbt, trace tests from CI; fix dependabot
  .github/dependabot.yml
  .github/workflows/test.yml
Labels: C:CI, A:backport/v5.1.x

#1995 feat!: deprecate soft opt-out (backporting #1964)
  .changelog/unreleased/api-breaking/1995-deprecate-soft-opt-out.md
  .changelog/unreleased/features/1995-deprecate-soft-opt-out.md
  .changelog/unreleased/state-breaking/1995-deprecate-soft-opt-out.md
  docs/docs/features/proposals.md
  tests/e2e/actions.go
  tests/e2e/steps_active_set_changes.go
  tests/e2e/steps_consumer_misbehaviour.go
  tests/e2e/steps_partial_set_security.go
  tests/e2e/tracehandler_testdata/changeover.json
  tests/e2e/tracehandler_testdata/consumer-double-sign.json
  tests/e2e/tracehandler_testdata/consumer-misbehaviour.json
  tests/e2e/tracehandler_testdata/democracy.json
  tests/e2e/tracehandler_testdata/democracyRewardsSteps.json
  tests/e2e/tracehandler_testdata/happyPath.json
  tests/e2e/tracehandler_testdata/multipleConsumers.json
  tests/e2e/tracehandler_testdata/shorthappy.json
  tests/e2e/tracehandler_testdata/slashThrottle.json
  tests/integration/soft_opt_out.go
  tests/mbt/driver/setup.go
  x/ccv/consumer/keeper/params.go
  x/ccv/consumer/keeper/params_test.go
  x/ccv/consumer/keeper/soft_opt_out.go
  x/ccv/consumer/keeper/soft_opt_out_test.go
  x/ccv/consumer/keeper/validators.go
  x/ccv/consumer/migrations/v3/legacy_params.go
  x/ccv/consumer/migrations/v3/migration_test.go
  x/ccv/consumer/module.go
  x/ccv/consumer/types/genesis_test.go
  x/ccv/consumer/types/keys.go
  x/ccv/consumer/types/keys_test.go
  x/ccv/consumer/types/params_test.go
  x/ccv/provider/keeper/proposal.go
  x/ccv/provider/keeper/proposal_test.go
  x/ccv/provider/types/legacy_proposal.go
  x/ccv/types/params.go
Labels: C:Testing, C:x/consumer, C:x/provider, C:x/types, C:Build, C:Docs, C:ADR, A:backport/v5.1.x

#2035 feat!: Let consumer chains choose a minimum stake and validator rank
  .changelog/unreleased/bug-fixes/provider/1925-apply-audit-suggestions.md
  .changelog/unreleased/features/provider/2035-min-stake-max-rank.md
  .changelog/unreleased/state-breaking/provider/1925-apply-audit-suggestions.md
  .changelog/unreleased/state-breaking/provider/2035-min-stake-max-rank.md
  docs/docs/adrs/adr-017-allowing-inactive-validators.md
  docs/docs/features/power-shaping.md
  proto/interchain_security/ccv/provider/v1/provider.proto
  proto/interchain_security/ccv/provider/v1/tx.proto
  tests/integration/partial_set_security_test.go
  testutil/keeper/unit_test_helpers.go
  x/ccv/provider/client/legacy_proposal_handler.go
  x/ccv/provider/client/legacy_proposals.go
  x/ccv/provider/keeper/keeper.go
  x/ccv/provider/keeper/keeper_test.go
  x/ccv/provider/keeper/legacy_proposal.go
  x/ccv/provider/keeper/legacy_proposal_test.go
  x/ccv/provider/keeper/partial_set_security.go
  x/ccv/provider/keeper/partial_set_security_test.go
  x/ccv/provider/keeper/proposal.go
  x/ccv/provider/keeper/proposal_test.go
  x/ccv/provider/proposal_handler_test.go
  x/ccv/provider/types/keys.go
  x/ccv/provider/types/keys_test.go
  x/ccv/provider/types/legacy_proposal.go
  x/ccv/provider/types/legacy_proposal_test.go
  x/ccv/provider/types/provider.pb.go
  x/ccv/provider/types/tx.pb.go
Labels: C:Testing, C:x/provider, C:Docs, C:ADR

#2053 chore: bump cosmos-sdk and ibc-go to latest
  .changelog/unreleased/dependencies/2013-bump-ibc.md
  .changelog/unreleased/dependencies/2013-bump-sdk.md
  .changelog/unreleased/dependencies/2053-bump-ibc.md
  .changelog/unreleased/dependencies/2053-bump-sdk.md
  .changelog/unreleased/state-breaking/2013-bump-ibc.md
  .changelog/unreleased/state-breaking/2013-bump-sdk.md
  .changelog/unreleased/state-breaking/2053-bump-ibc.md
  .changelog/unreleased/state-breaking/2053-bump-sdk.md
  Dockerfile
  Dockerfile.combined
  Dockerfile.gaia
  go.mod
  go.sum
Labels: scope: cosmos-sdk, C:Build, scope: IBC, A:backport/v5.1.x

#1991 docs: fix broken link on docs page
  docs/docs/adrs/intro.md
Labels: C:Docs, C:ADR

#2055 test: fix e2e compatiblity tests
  tests/e2e/config.go
Labels: C:Testing, A:backport/v5.1.x

#2029 fix: fix some comments
  docs/docs/adrs/adr-017-allowing-inactive-validators.md
  tests/mbt/model/README.md
Labels: C:Testing, C:Docs, C:ADR

#1998 fix!: change UX in key assignment
  .changelog/unreleased/api-breaking/provider/1998-change-ux-in-key-assignment.md
  .changelog/unreleased/state-breaking/provider/1998-change-ux-in-key-assignment.md
  tests/e2e/steps_compatibility.go
  tests/e2e/steps_start_chains.go
  tests/e2e/tracehandler_testdata/consumer-double-sign.json
  tests/e2e/tracehandler_testdata/democracy.json
  tests/e2e/tracehandler_testdata/democracyRewardsSteps.json
  tests/e2e/tracehandler_testdata/happyPath.json
  tests/e2e/tracehandler_testdata/multipleConsumers.json
  tests/e2e/tracehandler_testdata/shorthappy.json
  tests/e2e/tracehandler_testdata/slashThrottle.json
  tests/integration/key_assignment.go
  x/ccv/provider/handler_test.go
  x/ccv/provider/keeper/key_assignment.go
  x/ccv/provider/keeper/msg_server.go
Labels: C:Testing, C:x/provider, A:backport/v5.1.x

#2058 chore: deprecate v3.2.x and update docs / bots
  .github/dependabot.yml
  .mergify.yml
  FEATURES.md
  RELEASES.md
Labels: C:CI

#2063 fix: compatibility test change
  tests/e2e/steps_compatibility.go
Labels: C:Testing, A:backport/v5.1.x

#2067 fix!: address minor bugs during main upgrade to SDK v50
  tests/e2e/config.go
  tests/e2e/state.go
  testutil/keeper/unit_test_helpers.go
  x/ccv/provider/keeper/proposal.go
  x/ccv/provider/keeper/proposal_test.go
Labels: C:Testing, C:x/provider, A:backport/v5.1.x

#2071 docs: update upgrading v5.1.0
  UPGRADING.md
Labels: A:backport/v5.1.x

#2066 feat!: Add a parameter that determines whether consumer chains allow inactive validators to validate them
  .changelog/unreleased/features/provider/2066-inactive-vals.md
  .changelog/unreleased/state-breaking/provider/2066-inactive-vals.md
  docs/docs/adrs/adr-017-allowing-inactive-validators.md
  docs/docs/features/power-shaping.md
  proto/interchain_security/ccv/provider/v1/provider.proto
  proto/interchain_security/ccv/provider/v1/tx.proto
  tests/e2e/actions.go
  tests/e2e/config.go
  tests/e2e/main.go
  tests/e2e/state.go
  tests/e2e/steps_inactive_vals.go
  tests/e2e/testlib/types.go
  tests/e2e/v4/state.go
  testutil/keeper/unit_test_helpers.go
  x/ccv/provider/client/legacy_proposal_handler.go
  x/ccv/provider/client/legacy_proposals.go
  x/ccv/provider/keeper/grpc_query_test.go
  x/ccv/provider/keeper/keeper.go
  x/ccv/provider/keeper/keeper_test.go
  x/ccv/provider/keeper/legacy_proposal.go
  x/ccv/provider/keeper/legacy_proposal_test.go
  x/ccv/provider/keeper/partial_set_security.go
  x/ccv/provider/keeper/partial_set_security_test.go
  x/ccv/provider/keeper/proposal.go
  x/ccv/provider/keeper/proposal_test.go
  x/ccv/provider/keeper/relay_test.go
  x/ccv/provider/migrations/vX/migrations.go
  x/ccv/provider/proposal_handler_test.go
  x/ccv/provider/types/keys.go
  x/ccv/provider/types/keys_test.go
  x/ccv/provider/types/legacy_proposal.go
  x/ccv/provider/types/legacy_proposal_test.go
  x/ccv/provider/types/provider.pb.go
  x/ccv/provider/types/tx.pb.go
Labels: C:Testing, C:x/consumer, C:x/provider, C:x/types, C:Build, C:CI, C:Docs, C:ADR, C:x/democracy

#2070 feat: Calculate Top N based on active validators only
  .changelog/unreleased/features/provider/2066-inactive-vals.md
  .changelog/unreleased/state-breaking/provider/2066-inactive-vals.md
  docs/docs/adrs/adr-017-allowing-inactive-validators.md
  docs/docs/features/power-shaping.md
  proto/interchain_security/ccv/provider/v1/provider.proto
  proto/interchain_security/ccv/provider/v1/tx.proto
  tests/e2e/actions.go
  tests/e2e/config.go
  tests/e2e/main.go
  tests/e2e/state.go
  tests/e2e/steps_inactive_vals.go
  tests/e2e/testlib/types.go
  tests/e2e/v4/state.go
  testutil/keeper/unit_test_helpers.go
  x/ccv/consumer/keeper/keeper.go
  x/ccv/provider/client/legacy_proposal_handler.go
  x/ccv/provider/client/legacy_proposals.go
  x/ccv/provider/keeper/grpc_query_test.go
  x/ccv/provider/keeper/keeper.go
  x/ccv/provider/keeper/keeper_test.go
  x/ccv/provider/keeper/legacy_proposal.go
  x/ccv/provider/keeper/legacy_proposal_test.go
  x/ccv/provider/keeper/partial_set_security.go
  x/ccv/provider/keeper/partial_set_security_test.go
  x/ccv/provider/keeper/proposal.go
  x/ccv/provider/keeper/proposal_test.go
  x/ccv/provider/keeper/relay.go
  x/ccv/provider/keeper/relay_test.go
  x/ccv/provider/keeper/validator_set_update.go
  x/ccv/provider/migrations/vX/migrations.go
  x/ccv/provider/proposal_handler_test.go
  x/ccv/provider/types/keys.go
  x/ccv/provider/types/keys_test.go
  x/ccv/provider/types/legacy_proposal.go
  x/ccv/provider/types/legacy_proposal_test.go
  x/ccv/provider/types/provider.pb.go
  x/ccv/provider/types/tx.pb.go
  x/ccv/types/utils.go
Labels: C:Testing, C:x/consumer, C:x/provider, C:x/types, C:Docs, C:ADR

#2061 refactor: change byte prefixing scheme for provider
  x/ccv/consumer/keeper/keeper.go
  x/ccv/provider/keeper/distribution.go
  x/ccv/provider/keeper/distribution_test.go
  x/ccv/provider/keeper/grpc_query_test.go
  x/ccv/provider/keeper/hooks.go
  x/ccv/provider/keeper/keeper.go
  x/ccv/provider/keeper/key_assignment.go
  x/ccv/provider/keeper/partial_set_security_test.go
  x/ccv/provider/keeper/proposal.go
  x/ccv/provider/keeper/relay_test.go
  x/ccv/provider/keeper/throttle_legacy.go
  x/ccv/provider/keeper/validator_set_update.go
  x/ccv/provider/types/keys.go
  x/ccv/provider/types/keys_test.go
Labels: C:x/consumer, C:x/provider, C:Docs, C:ADR

#2078 test: fix e2e tests broken in various ways
  .gitignore
  tests/e2e/actions.go
  tests/e2e/config.go
  tests/e2e/state.go
  tests/e2e/steps_compatibility.go
  tests/e2e/testlib/utils.go
  tests/e2e/v4/state.go
Labels: C:Testing

#2090 chore: update gosec rules and resolve errs
  .github/workflows/gosec.yml
  x/ccv/consumer/module.go
  x/ccv/democracy/distribution/module.go
  x/ccv/democracy/governance/module.go
Labels: C:x/consumer, C:CI, C:x/democracy

#2095 fix: add missing signers in proto message
  .changelog/unreleased/api-breaking/provider/2095-proto-message-fix.md
  .changelog/unreleased/state-breaking/provider/2095-proto-message-fix.md
  proto/interchain_security/ccv/provider/v1/tx.proto
  x/ccv/provider/types/tx.pb.go
Labels: C:x/provider, A:backport/v5.1.x

#2001 docs: introduce ADR for permissionless ICS
  docs/docs/adrs/adr-018-permissionless-ics.md
  docs/docs/adrs/adr18_flows_of_launching_a_consumer_chain.excalidraw
  docs/docs/adrs/adr18_flows_of_launching_a_consumer_chain.png
  docs/docs/adrs/adr18_phases_of_a_consumer_chain.excalidraw
  docs/docs/adrs/adr18_phases_of_a_consumer_chain.png
Labels: C:Testing, C:x/consumer, C:x/provider, C:x/types, C:Build, C:CI, C:Docs, C:ADR, C:x/democracy

#2107 fix: fix signer in the commission rate message
  proto/interchain_security/ccv/provider/v1/tx.proto
  x/ccv/provider/client/cli/tx.go
  x/ccv/provider/types/msg.go
Labels: C:x/provider

#2100 docs: update docs for v5.1.1 release
  .changelog/unreleased/summary.md
  .changelog/v5.1.1/api-breaking/provider/2095-proto-message-fix.md
  .changelog/v5.1.1/state-breaking/provider/2095-proto-message-fix.md
  .changelog/v5.1.1/summary.md
  CHANGELOG.md
  RELEASE_NOTES.md
  UPGRADING.md
  docs/docs/upgrading/migrate_v4_v5.md
Labels: C:Docs

#2106 feat!: Add BlocksUntilNextEpoch query
  .changelog/unreleased/features/provider/2106-query-blocks-until-next-epoch.md
  docs/docs/frequently-asked-questions.md
  proto/interchain_security/ccv/provider/v1/query.proto
  x/ccv/provider/client/cli/query.go
  x/ccv/provider/keeper/grpc_query.go
  x/ccv/provider/keeper/relay.go
  x/ccv/provider/keeper/relay_test.go
  x/ccv/provider/types/query.pb.go
  x/ccv/provider/types/query.pb.gw.go
Labels: C:x/provider, C:Docs

#2098 feat!: remove VSCMaturedPackets (provider changes)
  .changelog/unreleased/api-breaking/provider/2098-vscmatured-removal.md
  .changelog/unreleased/features/provider/2098-vscmatured-removal.md
  .changelog/unreleased/state-breaking/provider/2098-vscmatured-removal.md
  app/provider/app.go
  docs/docs/adrs/adr-018-remove-vscmatured.md
  docs/docs/adrs/intro.md
  docs/docs/introduction/params.md
  proto/interchain_security/ccv/provider/v1/genesis.proto
  proto/interchain_security/ccv/provider/v1/provider.proto
  proto/interchain_security/ccv/provider/v1/query.proto
  tests/integration/channel_init.go
  tests/integration/common.go
  tests/integration/slashing.go
  tests/integration/stop_consumer.go
  tests/integration/unbonding.go
  testutil/integration/debug_test.go
  testutil/keeper/unit_test_helpers.go
  x/ccv/provider/client/cli/query.go
  x/ccv/provider/ibc_module.go
  x/ccv/provider/ibc_module_test.go
  x/ccv/provider/keeper/genesis.go
  x/ccv/provider/keeper/genesis_test.go
  x/ccv/provider/keeper/grpc_query.go
  x/ccv/provider/keeper/grpc_query_test.go
  x/ccv/provider/keeper/hooks.go
  x/ccv/provider/keeper/keeper.go
  x/ccv/provider/keeper/keeper_test.go
  x/ccv/provider/keeper/key_assignment.go
  x/ccv/provider/keeper/key_assignment_test.go
  x/ccv/provider/keeper/params.go
  x/ccv/provider/keeper/params_test.go
  x/ccv/provider/keeper/proposal.go
  x/ccv/provider/keeper/proposal_test.go
  x/ccv/provider/keeper/relay.go
  x/ccv/provider/keeper/relay_test.go
  x/ccv/provider/keeper/throttle_legacy.go
  x/ccv/provider/migrations/migrator.go
  x/ccv/provider/migrations/v3/migration_test.go
  x/ccv/provider/migrations/v3/migrations.go
  x/ccv/provider/migrations/v7/legacy_params.go
  x/ccv/provider/migrations/v7/migrations_test.go
  x/ccv/provider/migrations/v8/migrations.go
  x/ccv/provider/migrations/v8/migrations_test.go
  x/ccv/provider/module.go
  x/ccv/provider/module_test.go
  x/ccv/provider/types/consumer.go
  x/ccv/provider/types/events.go
  x/ccv/provider/types/genesis.go
  x/ccv/provider/types/genesis.pb.go
  x/ccv/provider/types/genesis_test.go
  x/ccv/provider/types/key_assignment.go
  x/ccv/provider/types/keys.go
  x/ccv/provider/types/keys_test.go
  x/ccv/provider/types/params.go
  x/ccv/provider/types/params_test.go
  x/ccv/provider/types/provider.pb.go
  x/ccv/provider/types/query.pb.go
  x/ccv/provider/types/query.pb.gw.go
  x/ccv/types/events.go
Labels: C:Testing, C:x/provider, C:x/types, C:CI, C:Docs, C:ADR

#2118 Update docs
  docs/docs/features/partial-set-security.md
  docs/docs/index.mdx
Labels: C:Docs

#2116 test: fix e2e changeover test
  app/consumer/app.go
  app/sovereign/app.go
  cmd/interchain-security-sd/main.go
  tests/e2e/action_rapid_test.go
  tests/e2e/actions_sovereign_chain.go
  tests/e2e/json_utils.go
  tests/e2e/state.go
  tests/e2e/steps_sovereign_changeover.go
  tests/e2e/test_driver.go
  tests/e2e/testnet-scripts/sovereign-genesis.json
  tests/e2e/testnet-scripts/start-changeover.sh
Labels: C:Testing
