Repository cosmos/interchain-security, pull requests merged in 2024-08, with the labels that each got.

#2119 docs: fix metainfo for ADRs
  docs/docs/adrs/adr-017-allowing-inactive-validators.md
  docs/docs/adrs/adr-019-permissionless-ics.md
  docs/docs/adrs/figures/adr19_flows_of_launching_a_consumer_chain.excalidraw
  docs/docs/adrs/figures/adr19_flows_of_launching_a_consumer_chain.png
  docs/docs/adrs/figures/adr19_phases_of_a_consumer_chain.excalidraw
  docs/docs/adrs/figures/adr19_phases_of_a_consumer_chain.png
  docs/docs/adrs/intro.md
Labels: C:Docs, C:ADR

#2133 docs: Add integration doc for inactive validators
  docs/docs/adrs/_category_.json
  docs/docs/frequently-asked-questions.md
  docs/docs/integrators/_category_.json
  docs/docs/integrators/integrating_inactive_validators.md
Labels: C:Docs, C:ADR

#2122 test: Fix use of hardcoded cosmos... address
  tests/integration/distribution.go
Labels: C:Testing, A:backport/v5.1.x

#2130 feat!: Removed legacy-submit-proposal support for consumer addition/modification/removal
  .changelog/unreleased/api-breaking/provider/2130-remove-legacy-proposal.md
  .github/workflows/nightly-e2e.yml
  UPGRADING.md
  app/provider/app.go
  tests/e2e/action_rapid_test.go
  tests/e2e/actions.go
  tests/e2e/state.go
  tests/e2e/steps_democracy.go
  tests/e2e/test_driver.go
  tests/integration/provider_gov_hooks.go
  testutil/integration/debug_test.go
  testutil/keeper/unit_test_helpers.go
  x/ccv/provider/client/legacy_proposal_handler.go
  x/ccv/provider/keeper/hooks.go
Labels: C:Testing, C:x/provider, C:CI, C:Docs

#2162 feat: Implemented consumer validators query including commission rate
  proto/interchain_security/ccv/provider/v1/query.proto
  x/ccv/provider/keeper/grpc_query.go
  x/ccv/provider/keeper/grpc_query_test.go
  x/ccv/provider/types/query.pb.go
Labels: C:x/provider

#2165 feat: extend consumer validator query to return commission rate (backport #2162)
  proto/interchain_security/ccv/provider/v1/query.proto
  tests/mbt/driver/setup.go
  x/ccv/provider/keeper/grpc_query.go
  x/ccv/provider/keeper/grpc_query_test.go
  x/ccv/provider/types/query.pb.go
Labels: C:Testing, C:x/provider

#2163 docs: several changes to the ICS docs
  docs/docs/consumer-development/onboarding.md
  docs/docs/features/democracy-modules.md
  docs/docs/features/key-assignment.md
  docs/docs/features/partial-set-security.md
  docs/docs/features/power-shaping.md
  docs/docs/features/proposals.md
  docs/docs/features/reward-distribution.md
  docs/docs/features/slashing.md
  docs/docs/frequently-asked-questions.md
  docs/docs/introduction/overview.md
  docs/docs/introduction/technical-specification.md
  docs/docs/introduction/terminology.md
  docs/docs/validators/partial-set-security-for-validators.md
  docs/src/components/Cards/card-data/home-cards.js
Labels: C:Docs

#2168 fix: Fix bug and add test case
  tests/e2e/config.go
  tests/e2e/main.go
  tests/e2e/steps.go
  tests/integration/partial_set_security_test.go
  testutil/keeper/expectations.go
  testutil/keeper/unit_test_helpers.go
  x/ccv/consumer/keeper/changeover_test.go
  x/ccv/consumer/keeper/keeper_test.go
  x/ccv/provider/keeper/grpc_query_test.go
  x/ccv/provider/keeper/legacy_proposal_test.go
  x/ccv/provider/keeper/partial_set_security.go
  x/ccv/provider/keeper/partial_set_security_test.go
  x/ccv/provider/keeper/proposal.go
  x/ccv/provider/keeper/proposal_test.go
  x/ccv/provider/keeper/relay_test.go
  x/ccv/provider/proposal_handler_test.go
  x/ccv/types/utils.go
Labels: C:Testing, C:x/consumer, C:x/provider, C:x/types

#2167 feat: add fields to consumer validators query
  proto/interchain_security/ccv/provider/v1/query.proto
  x/ccv/provider/keeper/grpc_query.go
  x/ccv/provider/keeper/grpc_query_test.go
  x/ccv/provider/keeper/validator_set_update_test.go
  x/ccv/provider/types/query.pb.go
Labels: C:x/provider

#2175 feat: refactor consumer validator set computation
  x/ccv/provider/keeper/grpc_query.go
  x/ccv/provider/keeper/partial_set_security.go
  x/ccv/provider/keeper/partial_set_security_test.go
  x/ccv/provider/keeper/proposal.go
  x/ccv/provider/keeper/relay.go
Labels: C:x/provider

#2176 fix!: ConsumerModificationProposal is needed in Gaia upgrade handler
  x/ccv/provider/types/legacy_proposal.go
Labels: C:x/provider

#2178 fix: allow the owner of a chain to remove the chain
  proto/interchain_security/ccv/provider/v1/tx.proto
  x/ccv/provider/keeper/msg_server.go
  x/ccv/provider/types/msg.go
  x/ccv/provider/types/tx.pb.go
Labels: C:x/provider

#2166 fix: proposal MsgChangeRewardDenoms
  proto/interchain_security/ccv/provider/v1/tx.proto
  tests/e2e/actions.go
  tests/e2e/test_driver.go
  x/ccv/provider/types/tx.pb.go
Labels: C:Testing, C:x/provider

#2144 chore: fix spelling errors
  .changelog/v5.1.1/api-breaking/provider/2095-proto-message-fix.md
  .changelog/v5.1.1/state-breaking/provider/2095-proto-message-fix.md
  CHANGELOG.md
  docs/docs/integrators/integrating_inactive_validators.md
Labels: C:Docs

#2181 fix: Fix inactive vals and min stake handling in ConsumerAdditionProposal conversion
  proto/interchain_security/ccv/provider/v1/query.proto
  tests/e2e/actions.go
  x/ccv/provider/keeper/grpc_query.go
  x/ccv/provider/keeper/grpc_query_test.go
  x/ccv/provider/keeper/hooks.go
  x/ccv/provider/keeper/proposal.go
  x/ccv/provider/types/query.pb.go
Labels: C:Testing, C:x/provider

#2164 feat: extend `consumer_validators` query to return consumer valset before launch
  x/ccv/provider/keeper/grpc_query.go
  x/ccv/provider/keeper/grpc_query_test.go
  x/ccv/provider/types/msg.go
  x/ccv/provider/types/provider.pb.go
Labels: C:Testing, C:x/provider, C:x/types, C:Build, C:Docs, C:ADR

#2183 tests: fix integration test setup
  tests/integration/common.go
  tests/integration/provider_gov_hooks.go
  tests/integration/setup.go
  testutil/ibc_testing/generic_setup.go
  testutil/keeper/unit_test_helpers.go
Labels: C:Testing

#2184 chore: Disable coderabbit auto reviews
  .coderabbit.yml
Labels: C:Testing, C:x/provider

#2179 feat: add consumer chain query
  proto/interchain_security/ccv/provider/v1/query.proto
  x/ccv/provider/keeper/grpc_query.go
  x/ccv/provider/keeper/grpc_query_test.go
  x/ccv/provider/types/query.pb.go
  x/ccv/provider/types/query.pb.gw.go
Labels: C:Testing, C:x/provider, C:x/types, C:Build, C:Docs, C:ADR

#2172 feat: extend consumer chains query
  proto/interchain_security/ccv/provider/v1/query.proto
  x/ccv/provider/client/cli/query.go
  x/ccv/provider/keeper/grpc_query.go
  x/ccv/provider/keeper/grpc_query_test.go
  x/ccv/provider/keeper/hooks.go
  x/ccv/provider/types/query.pb.go
  x/ccv/provider/types/query.pb.gw.go
Labels: C:Testing, C:x/provider, C:x/types, C:Build, C:Docs, C:ADR

#2174 feat!: migrations for permissionless
  proto/interchain_security/ccv/provider/v1/genesis.proto
  proto/interchain_security/ccv/provider/v1/query.proto
  x/ccv/provider/client/cli/query.go
  x/ccv/provider/keeper/genesis.go
  x/ccv/provider/keeper/genesis_test.go
  x/ccv/provider/keeper/grpc_query.go
  x/ccv/provider/keeper/hooks.go
  x/ccv/provider/keeper/keeper.go
  x/ccv/provider/keeper/keeper_test.go
  x/ccv/provider/keeper/key_assignment.go
  x/ccv/provider/keeper/legacy_proposal.go
  x/ccv/provider/keeper/legacy_proposal_test.go
  x/ccv/provider/keeper/partial_set_security.go
  x/ccv/provider/keeper/partial_set_security_test.go
  x/ccv/provider/keeper/proposal.go
  x/ccv/provider/keeper/proposal_test.go
  x/ccv/provider/keeper/validator_set_update.go
  x/ccv/provider/migrations/migrator.go
  x/ccv/provider/migrations/v8/migrations.go
  x/ccv/provider/migrations/v8/migrations_test.go
  x/ccv/provider/module_test.go
  x/ccv/provider/types/genesis.go
  x/ccv/provider/types/genesis.pb.go
  x/ccv/provider/types/genesis_test.go
  x/ccv/provider/types/keys.go
  x/ccv/provider/types/keys_test.go
  x/ccv/provider/types/query.pb.go
  x/ccv/provider/types/query.pb.gw.go
Labels: C:Testing, C:x/provider

#2185 fix: permissionless added event + cli changes
  x/ccv/provider/client/cli/query.go
  x/ccv/provider/client/cli/tx.go
  x/ccv/provider/keeper/grpc_query.go
  x/ccv/provider/keeper/msg_server.go
  x/ccv/types/events.go
Labels: C:x/provider, C:x/types

#2189 fix!: several permissionless changes
  tests/integration/setup.go
  testutil/ibc_testing/generic_setup.go
  testutil/keeper/unit_test_helpers.go
  x/ccv/provider/keeper/distribution.go
  x/ccv/provider/keeper/grpc_query.go
  x/ccv/provider/keeper/grpc_query_test.go
  x/ccv/provider/keeper/keeper.go
  x/ccv/provider/keeper/keeper_test.go
  x/ccv/provider/keeper/key_assignment.go
  x/ccv/provider/keeper/msg_server.go
  x/ccv/provider/keeper/msg_server_test.go
  x/ccv/provider/keeper/partial_set_security.go
  x/ccv/provider/keeper/partial_set_security_test.go
  x/ccv/provider/keeper/permissionless.go
  x/ccv/provider/keeper/permissionless_test.go
  x/ccv/provider/keeper/proposal.go
  x/ccv/provider/keeper/proposal_test.go
  x/ccv/provider/keeper/relay.go
  x/ccv/provider/keeper/relay_test.go
  x/ccv/provider/keeper/staking_keeper_interface_test.go
  x/ccv/provider/keeper/validator_set_update_test.go
  x/ccv/provider/migrations/v5/migration_test.go
  x/ccv/provider/migrations/v6/migrations.go
  x/ccv/provider/types/errors.go
Labels: C:Testing, C:x/provider

#2190 fix: fix consumer chain query CLI
  x/ccv/provider/client/cli/query.go
Labels: C:x/provider

#2193 fix!: fix store.set nil values
  x/ccv/provider/migrations/v8/migrations.go
Labels: C:x/provider

#2195 fix!: msgs validation
  x/ccv/provider/types/errors.go
  x/ccv/provider/types/msg.go
  x/ccv/provider/types/msg_test.go
  x/ccv/types/shared_params.go
Labels: C:x/provider, C:x/types

#2196 fix: fix queries' API REST endpoint path
  proto/interchain_security/ccv/provider/v1/query.proto
  x/ccv/provider/keeper/grpc_query.go
  x/ccv/provider/types/legacy_proposal_test.go
  x/ccv/provider/types/query.pb.go
  x/ccv/provider/types/query.pb.gw.go
Labels: C:x/provider

#2191 fix: permissionless query
  testutil/keeper/unit_test_helpers.go
  x/ccv/provider/client/cli/tx.go
  x/ccv/provider/keeper/grpc_query.go
  x/ccv/provider/keeper/proposal.go
  x/ccv/provider/keeper/proposal_test.go
  x/ccv/provider/keeper/relay_test.go
Labels: C:Testing, C:x/provider
