Repository cosmos/interchain-security, pull requests merged in 2024-04, with the labels that each got.

#1732 fix!: Fix opt-in assignment
  .changelog/unreleased/api-breaking/provider/1732-assigning-already-assigned-key-fix.md
  .changelog/unreleased/state-breaking/provider/1732-assigning-already-assigned-key-fix.md
  tests/e2e/main.go
  tests/e2e/steps_compatibility.go
  tests/e2e/steps_start_chains.go
  tests/e2e/tracehandler_testdata/consumer-double-sign.json
  tests/e2e/tracehandler_testdata/democracy.json
  tests/e2e/tracehandler_testdata/democracyRewardsSteps.json
  tests/e2e/tracehandler_testdata/happyPath.json
  tests/e2e/tracehandler_testdata/multipleConsumers.json
  tests/e2e/tracehandler_testdata/shorthappy.json
  tests/e2e/tracehandler_testdata/slashThrottle.json
  tests/integration/key_assignment.go
  x/ccv/provider/handler_test.go
  x/ccv/provider/keeper/key_assignment.go
Labels: C:Testing, C:x/provider

#1741 test: Quint model - Use `indices` instead of `range` to avoid problem with Apalache
  tests/mbt/model/libraries/extraSpells.qnt
Labels: C:Testing

#1740 feat: add oldest_unconfirmed_vsc query
  .changelog/unreleased/features/provider/1740-oldest-unconfirm-vsc-query.md
  .changelog/v3.2.0/features/consumer/1164-provider-info-query.md
  proto/interchain_security/ccv/provider/v1/query.proto
  x/ccv/consumer/ibc_module.go
  x/ccv/provider/client/cli/query.go
  x/ccv/provider/ibc_module.go
  x/ccv/provider/keeper/grpc_query.go
  x/ccv/provider/keeper/grpc_query_test.go
  x/ccv/provider/types/errors.go
  x/ccv/provider/types/provider.pb.go
  x/ccv/provider/types/query.pb.go
  x/ccv/provider/types/query.pb.gw.go
Labels: C:x/consumer, C:x/provider, A:backport/v4.1.x, A:backport/v4.1.x-lsm

#1715 ci: do not scan the tests for security issues
  .github/workflows/gosec.yml
Labels: C:CI

#1742 fix: in mbt, do not set outstandingDowntime for double-sign slashes
  tests/mbt/model/ccv.qnt
  tests/mbt/model/ccv_test.qnt
Labels: C:Testing

#1743 chore: add v4.1.x and v4.1.x-lsm to mergify and dependabot
  .github/dependabot.yml
  .mergify.yml
Labels: C:CI

#1739 test: Add getters for testing epochs in Gaia
  tests/integration/setup.go
Labels: C:Testing, C:x/consumer, C:x/provider, C:CI, A:backport/v4.1.x, A:backport/v4.1.x-lsm

#1737 test: add partial-set-security E2E tests
  tests/e2e/actions.go
  tests/e2e/main.go
  tests/e2e/steps_compatibility.go
  tests/e2e/steps_consumer_misbehaviour.go
  tests/e2e/steps_partial_set_security.go
  tests/e2e/steps_sovereign_changeover.go
  tests/e2e/steps_start_chains.go
  tests/e2e/test_driver.go
  tests/e2e/tracehandler_testdata/changeover.json
  tests/e2e/tracehandler_testdata/consumer-double-sign.json
  tests/e2e/tracehandler_testdata/consumer-misbehaviour.json
  tests/e2e/tracehandler_testdata/democracy.json
  tests/e2e/tracehandler_testdata/democracyRewardsSteps.json
  tests/e2e/tracehandler_testdata/happyPath.json
  tests/e2e/tracehandler_testdata/multipleConsumers.json
  tests/e2e/tracehandler_testdata/shorthappy.json
  tests/e2e/tracehandler_testdata/slashThrottle.json
  x/ccv/provider/keeper/proposal_test.go
Labels: C:Testing, C:x/provider

#1753 ci: fix publishing docker images
  .github/workflows/docker-publish.yml
Labels: C:CI, A:backport/v4.1.x, A:backport/v4.1.x-lsm

#1757 fix: add missing migration; use correct constant types
  x/ccv/provider/migrations/migrator.go
  x/ccv/provider/migrations/v3/migration_test.go
  x/ccv/provider/migrations/v3/migrations.go
  x/ccv/provider/types/params.go
Labels: C:x/provider, A:backport/v4.1.x, A:backport/v4.1.x-lsm

#1763 fix!: return a SlashAck even if the validator is not a consumer validator
  x/ccv/provider/keeper/relay.go
  x/ccv/provider/keeper/relay_test.go
Labels: C:x/provider

#1762 fix!: introduce v4 provider migration code
  x/ccv/provider/migrations/migrator.go
  x/ccv/provider/migrations/v3/migration_test.go
  x/ccv/provider/migrations/v3/migrations.go
  x/ccv/provider/migrations/v4/migration_test.go
  x/ccv/provider/migrations/v4/migrations.go
  x/ccv/provider/module.go
Labels: C:x/provider, state-machine-breaking, scope: provider, A:backport/v4.1.x, A:backport/v4.1.x-lsm

#1761 docs: on upgrading from v4.0.x to v4.1.x or v4.1.x-lsm
  UPGRADING.md
Labels: A:backport/v4.1.x, A:backport/v4.1.x-lsm

#1752 test: Expand PSS e2e test to include slashing
  tests/e2e/steps_partial_set_security.go
Labels: C:Testing

#1773 fix!: register provider v3 to v4 migration handler
  UPGRADING.md
  x/ccv/provider/module.go
Labels: C:x/provider, scope: provider, A:backport/v4.1.x, A:backport/v4.1.x-lsm

#1728 fix!: update unbonding pausing for PSS
  testutil/keeper/mocks.go
  x/ccv/provider/keeper/hooks.go
  x/ccv/provider/keeper/relay_test.go
  x/ccv/types/expected_keepers.go
Labels: C:Testing, C:x/consumer, C:x/provider, C:x/types, C:Build, C:CI, scope: provider

#1783 chore: use issue forms
  .github/ISSUE_TEMPLATE/01-bug-report.yml
  .github/ISSUE_TEMPLATE/02-feature-request.yml
  .github/ISSUE_TEMPLATE/03-docs-request.yml
  .github/ISSUE_TEMPLATE/04-epic-template.md
  .github/ISSUE_TEMPLATE/05-issue-template.md
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/ISSUE_TEMPLATE/protocol-change-request.md
Labels: C:CI

#1786 chore: fix issue templates
  .github/ISSUE_TEMPLATE/01-bug-report.yml
  .github/ISSUE_TEMPLATE/02-feature-request.yml
  .github/ISSUE_TEMPLATE/03-docs-request.yml
  .github/ISSUE_TEMPLATE/04-epic-template.md
Labels: C:CI

#1722 fix: fixed QueryAllPairsValConAddrByConsumerChainID output formatting
  proto/interchain_security/ccv/provider/v1/query.proto
  x/ccv/provider/keeper/grpc_query.go
  x/ccv/provider/keeper/grpc_query_test.go
Labels: C:x/provider

#1791 fix: relase notes and fixes to hooks
  go.mod
  go.sum
  x/ccv/provider/keeper/hooks.go
Labels: C:x/provider

#1796 fix: Bring 1722 fix to changelog
  .changelog/unreleased/bug-fixes/provider/1722-query-valcons-format.md
Labels: A:backport/v4.1.x, A:backport/v4.1.x-lsm

#1806 refactor: linting
  Makefile
  app/consumer/genesis.go
  app/consumer/genesis_test.go
  app/sovereign/app.go
  tests/e2e/actions.go
  tests/e2e/builder.go
  tests/e2e/config.go
  tests/e2e/main.go
  tests/e2e/steps_compatibility.go
  tests/e2e/test_runner.go
  tests/e2e/test_target.go
  tests/integration/soft_opt_out.go
  tests/mbt/driver/core.go
  tests/mbt/driver/mbt_test.go
  testutil/integration/validators.go
  testutil/simibc/relay_util.go
  x/ccv/consumer/keeper/soft_opt_out.go
  x/ccv/consumer/migrations/v2/migration_test.go
  x/ccv/provider/client/cli/query.go
  x/ccv/provider/keeper/grpc_query_test.go
  x/ccv/provider/keeper/key_assignment_test.go
  x/ccv/provider/keeper/proposal.go
  x/ccv/provider/keeper/relay_test.go
  x/ccv/provider/keeper/validator_set_update.go
  x/ccv/provider/keeper/validator_set_update_test.go
  x/ccv/provider/migrations/v3/migration_test.go
  x/ccv/provider/migrations/v3/migrations.go
  x/ccv/provider/migrations/v4/migrations.go
  x/ccv/provider/types/codec.go
Labels: C:Testing, C:x/consumer, C:x/provider, C:Build

#1808 docs: Add epoch migration to UPGRADING.md
  UPGRADING.md
Labels: A:backport/v4.1.x, A:backport/v4.1.x-lsm

#1805 tests: fix broken tests (unit, integration)
  .github/workflows/test.yml
  app/provider/app.go
  app/sovereign/app.go
  proto/interchain_security/ccv/provider/v1/provider.proto
  tests/integration/common.go
  tests/integration/democracy.go
  tests/integration/distribution.go
  tests/integration/double_vote.go
  tests/integration/expired_client.go
  tests/integration/normal_operations.go
  tests/integration/setup.go
  tests/integration/slashing.go
  tests/integration/soft_opt_out.go
  tests/integration/throttle.go
  tests/integration/throttle_retry.go
  testutil/ibc_testing/generic_setup.go
  testutil/integration/validators.go
  x/ccv/consumer/keeper/validators.go
  x/ccv/provider/keeper/relay_test.go
  x/ccv/provider/keeper/throttle.go
  x/ccv/provider/types/provider.pb.go
Labels: C:Testing, C:x/consumer, C:x/provider, C:CI

#1812 chore: add v4.1.x to docs and cleanup bots
  .github/dependabot.yml
  .mergify.yml
  FEATURES.md
  RELEASES.md
Labels: C:CI

#1814 feat: add consumer params upgrade message
  app/consumer-democracy/proposals_whitelisting.go
  proto/interchain_security/ccv/consumer/v1/tx.proto
  tests/integration/democracy.go
  testutil/integration/debug_test.go
  x/ccv/consumer/client/cli/query.go
  x/ccv/consumer/keeper/keeper.go
  x/ccv/consumer/keeper/msg_server.go
  x/ccv/consumer/module.go
  x/ccv/consumer/types/codec.go
  x/ccv/consumer/types/tx.pb.go
Labels: C:Testing, C:x/consumer

#1816 test: move provider hooks tests to integration tests
  app/provider/app.go
  tests/integration/provider_gov_hooks.go
  testutil/integration/debug_test.go
  testutil/integration/interfaces.go
  x/ccv/provider/keeper/hooks_test.go
Labels: C:Testing, C:x/consumer, C:x/provider

#1817 chore: add consumer and provider migrations for ICS v5
  x/ccv/consumer/keeper/migrations.go
  x/ccv/consumer/migrations/v3/legacy_params.go
  x/ccv/consumer/migrations/v3/migration.go
  x/ccv/consumer/migrations/v3/migration_test.go
  x/ccv/consumer/module.go
  x/ccv/provider/migrations/migrator.go
  x/ccv/provider/migrations/v5/legacy_params.go
  x/ccv/provider/migrations/v5/migrations.go
  x/ccv/provider/migrations/v5/migrations_test.go
  x/ccv/provider/module.go
  x/ccv/types/params.go
Labels: C:x/consumer, C:x/provider, C:x/types

#1819 fix!: revert PutUnbondingOnHold to desired behaviour
  x/ccv/provider/keeper/hooks.go
Labels: C:x/provider

#1820 docs: add v5 migration instructions
  docs/docs/upgrading/_category_.json
  docs/docs/upgrading/migrate_v4_v5.md
  docs/internal/migrations/cosmos-sdk-v0.50-migration.md
  x/ccv/provider/keeper/legacy_proposal.go
Labels: C:x/provider, C:Docs

#1828 test: adapt e2e compatibility tests v5.x
  .github/workflows/nightly-e2e.yml
  tests/e2e/actions.go
  tests/e2e/actions_consumer_misbehaviour.go
  tests/e2e/actions_sovereign_chain.go
  tests/e2e/config.go
  tests/e2e/json_marshal_test.go
  tests/e2e/json_utils.go
  tests/e2e/state.go
  tests/e2e/steps_compatibility.go
  tests/e2e/test_driver.go
  tests/e2e/test_target.go
  tests/e2e/testlib/types.go
  tests/e2e/testlib/utils.go
  tests/e2e/v4/state.go
Labels: C:Testing, C:CI

#1829 chore: add release/v5.x bots targets
  .github/dependabot.yml
  .mergify.yml
Labels: C:CI

#1836 fix!: handle consumer commission marshalling errors gracefully
  proto/interchain_security/ccv/provider/v1/query.proto
  tests/integration/distribution.go
  x/ccv/provider/keeper/distribution.go
  x/ccv/provider/keeper/keeper.go
  x/ccv/provider/types/codec.go
Labels: C:Testing, C:x/provider

#1823 fix: Fix has-to-validate query
  tests/e2e/state.go
  tests/e2e/steps_partial_set_security.go
  tests/e2e/tracehandler_testdata/changeover.json
  tests/e2e/tracehandler_testdata/consumer-double-sign.json
  tests/e2e/tracehandler_testdata/consumer-misbehaviour.json
  tests/e2e/tracehandler_testdata/democracy.json
  tests/e2e/tracehandler_testdata/democracyRewardsSteps.json
  tests/e2e/tracehandler_testdata/happyPath.json
  tests/e2e/tracehandler_testdata/multipleConsumers.json
  tests/e2e/tracehandler_testdata/shorthappy.json
  tests/e2e/tracehandler_testdata/slashThrottle.json
  x/ccv/provider/keeper/grpc_query.go
  x/ccv/provider/keeper/keeper.go
Labels: C:Testing, C:x/provider, C:x/types
