Repository cosmos/interchain-security, pull requests merged in 2024-05, with the labels that each got.

#1838 fix!: fix slashing in PSS
  tests/integration/slashing.go
  x/ccv/provider/keeper/relay.go
  x/ccv/provider/keeper/relay_test.go
Labels: C:Testing, C:x/provider

#1834 fix: Validate consumer commission rate against minimal rate
  testutil/keeper/mocks.go
  x/ccv/provider/keeper/distribution.go
  x/ccv/provider/keeper/partial_set_security_test.go
  x/ccv/types/expected_keepers.go
Labels: C:Testing, C:x/provider, C:x/types

#1830 feat!: introduce power shaping
  proto/interchain_security/ccv/provider/v1/provider.proto
  tests/e2e/actions.go
  tests/e2e/steps_partial_set_security.go
  tests/mbt/driver/setup.go
  testutil/ibc_testing/generic_setup.go
  testutil/keeper/unit_test_helpers.go
  x/ccv/provider/client/proposal_handler.go
  x/ccv/provider/keeper/grpc_query.go
  x/ccv/provider/keeper/keeper.go
  x/ccv/provider/keeper/keeper_test.go
  x/ccv/provider/keeper/key_assignment_test.go
  x/ccv/provider/keeper/partial_set_security.go
  x/ccv/provider/keeper/partial_set_security_test.go
  x/ccv/provider/keeper/proposal.go
  x/ccv/provider/keeper/proposal_test.go
  x/ccv/provider/keeper/relay.go
  x/ccv/provider/keeper/relay_test.go
  x/ccv/provider/keeper/validator_set_update.go
  x/ccv/provider/keeper/validator_set_update_test.go
  x/ccv/provider/proposal_handler_test.go
  x/ccv/provider/types/keys.go
  x/ccv/provider/types/proposal.go
  x/ccv/provider/types/proposal_test.go
  x/ccv/provider/types/provider.pb.go
  x/ccv/provider/types/query.pb.go
  x/ccv/provider/types/query.pb.gw.go
  x/ccv/provider/types/tx.pb.go
Labels: C:Testing, C:x/provider

#1845 chore: add v5.0.x-provider and v5.0.x-provider to mergify and dependabot
  .github/dependabot.yml
  .mergify.yml
Labels: C:CI

#1849 chore: rm v5-provider; add v4.2.0; rm old versions
  .github/dependabot.yml
  .mergify.yml
Labels: C:CI

#1807 refactor: remove redundant code from MakeConsumerGenesis
  testutil/keeper/expectations.go
  x/ccv/provider/keeper/proposal.go
  x/ccv/provider/keeper/proposal_test.go
Labels: C:Testing, C:x/provider, A:backport/v4.2.x

#1854 refactor: nit naming changes
  x/ccv/provider/keeper/validator_set_update_test.go
Labels: C:x/provider, A:backport/v4.2.x

#1866 docs: ADR for Security Aggregation solution
  docs/docs/adrs/adr-016-securityaggregation.md
Labels: C:Docs, C:ADR

#1869 chore: Fix codespell config
  .github/.codespellignore
  tests/e2e/steps_partial_set_security.go
  tests/integration/distribution.go
Labels: C:Testing

#1870 chore: fixed all-pairs-valconsensus-address CLI command usage
  x/ccv/provider/client/cli/query.go
Labels: C:x/provider

#1859 docs: Add PSS docs
  docs/docs/consumer-development/onboarding.md
  docs/docs/features/partial-set-security.md
  docs/docs/features/power-shaping.md
  docs/docs/features/proposals.md
  docs/docs/features/slashing.md
  docs/docs/frequently-asked-questions.md
  docs/docs/introduction/overview.md
  docs/docs/introduction/terminology.md
  docs/docs/validators/partial-set-security-for-validators.md
Labels: C:Docs, A:backport/v4.2.x, A:backport/v4.2.x-lsm

#1882 docs: Minor improvements
  docs/docs/consumer-development/app-integration.md
  docs/docs/consumer-development/changeover-procedure.md
  docs/docs/consumer-development/onboarding.md
  docs/docs/features/key-assignment.md
  docs/docs/features/partial-set-security.md
  docs/docs/features/power-shaping.md
  docs/docs/features/proposals.md
  docs/docs/frequently-asked-questions.md
  docs/docs/validators/joining-testnet.md
  docs/docs/validators/partial-set-security-for-validators.md
Labels: C:Docs, A:backport/v4.2.x, A:backport/v4.2.x-lsm

#1867 feat: add a query to retrieve validator set that was last sent to the consumer chain
  .changelog/unreleased/features/provider/1867-add-query-for-latest-consumer-validator-set.md
  docs/docs/validators/partial-set-security-for-validators.md
  proto/interchain_security/ccv/provider/v1/query.proto
  x/ccv/provider/client/cli/query.go
  x/ccv/provider/keeper/grpc_query.go
  x/ccv/provider/keeper/grpc_query_test.go
  x/ccv/provider/types/query.pb.go
  x/ccv/provider/types/query.pb.gw.go
Labels: C:x/provider, C:Docs, A:backport/v4.2.x, A:backport/v4.2.x-lsm

#1888 fix!: drop chain proposals with empty validator set at spawn time
  testutil/keeper/expectations.go
  testutil/keeper/unit_test_helpers.go
  x/ccv/provider/keeper/proposal.go
  x/ccv/provider/keeper/proposal_test.go
  x/ccv/provider/proposal_handler_test.go
Labels: C:Testing, C:x/provider, A:backport/v4.2.x, A:backport/v4.2.x-lsm

#1894 test: Remove v5.0.0 (pre-release) be tested within e2e compatibility
  Makefile
Labels: C:Build

#1853 test: add E2E test for power-shaping features
  .github/workflows/nightly-e2e.yml
  tests/e2e/actions.go
  tests/e2e/main.go
  tests/e2e/steps_partial_set_security.go
Labels: C:Testing, C:x/provider, C:CI, A:backport/v4.2.x, A:backport/v4.2.x-lsm

#1897 docs: updated change for v4.2.x
  .changelog/epilogue.md
  .changelog/v4.2.0/api-breaking/provider/1863-add-minimum-power-in-topN-to-consumer-chain-list.md
  .changelog/v4.2.0/features/provider/1863-add-minimum-power-in-topN-to-consumer-chain-list.md
  .changelog/v4.2.0/features/provider/1867-add-query-for-latest-consumer-validator-set.md
  .changelog/v4.2.0/summary.md
  CHANGELOG.md
Labels: A:backport/v4.2.x-lsm

#1876 build(deps): bump comet to v0.37.6
  .changelog/unreleased/dependencies/1876-bump-comet.md
  .changelog/unreleased/dependencies/1876-bump-sdk.md
  go.mod
  go.sum
Labels: A:backport/v4.2.x, A:backport/v4.2.x-lsm

#1915 docs: document democracy modules in more detail
  docs/docs/features/democracy-modules.md
  docs/docusaurus.config.js
Labels: C:Docs, A:backport/v5.x, A:backport/v4.2.x

#1921 fix(client): write unbonding period advisory to stderr instead of stdout
  .changelog/unreleased/bug-fixes/1921-write-stderr.md
  x/ccv/provider/client/proposal_handler.go
Labels: C:x/provider

#1910 docs: update ADR metadata
  docs/docs/adrs/adr-005-cryptographic-equivocation-verification.md
  docs/docs/adrs/adr-014-epochs.md
  docs/docs/adrs/adr-015-partial-set-security.md
  docs/docs/adrs/adr-016-securityaggregation.md
  docs/docs/adrs/intro.md
Labels: C:Docs, C:ADR

#1930 fix: migration and error code duplication + e2e tests
  .github/workflows/codeql-analysis.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/nightly-e2e.yml
  .github/workflows/test.yml
  Dockerfile
  Dockerfile.gaia
  tests/e2e/actions.go
  tests/e2e/state.go
  tests/e2e/testlib/types.go
  tests/e2e/v4/state.go
  x/ccv/provider/module.go
  x/ccv/provider/types/errors.go
Labels: C:Testing, C:x/provider, C:Build, C:CI
