Repository cosmos/interchain-security, pull requests merged in 2024-10, with the labels that each got.

#2289 docs: update docs to capture Permissionless ICS
  docs/docs/adrs/adr-019-permissionless-ics.md
  docs/docs/consumer-development/changeover-procedure.md
  docs/docs/consumer-development/offboarding.md
  docs/docs/consumer-development/onboarding.md
  docs/docs/features/democracy-modules.md
  docs/docs/features/key-assignment.md
  docs/docs/features/partial-set-security.md
  docs/docs/features/permissionless.md
  docs/docs/features/power-shaping.md
  docs/docs/features/proposals.md
  docs/docs/features/reward-distribution.md
  docs/docs/features/slashing.md
  docs/docs/frequently-asked-questions.md
  docs/docs/introduction/overview.md
  docs/docs/introduction/params.md
  docs/docs/introduction/terminology.md
  docs/docs/upgrading/_category_.json
  docs/docs/upgrading/migrate_v4_v5.md
  docs/docs/validators/joining-testnet.md
  docs/docs/validators/overview.md
  docs/docs/validators/partial-set-security-for-validators.md
  docs/figures/hypha-consumer-start-process.excalidraw
  docs/figures/hypha-consumer-start-process.png
  docs/figures/hypha-consumer-start-process.svg
  proto/interchain_security/ccv/provider/v1/provider.proto
Labels: C:Docs, C:ADR, A:backport/v6.1.x

#2269 docs: add docs on modules
  .gitignore
  docs/build_deploy.sh
  docs/docs/build/_category_.json
  docs/docs/build/modules/01-overview.md
  docs/docs/build/modules/02-provider.md
  docs/docs/build/modules/03-consumer.md
  docs/docs/build/modules/04-democracy.md
  docs/docs/build/modules/_category_.json
  docs/docs/consumer-development/consumer-genesis-transformation.md
  docs/docs/features/_category_.json
  docs/docs/features/reward-distribution.md
  docs/docs/frequently-asked-questions.md
  docs/docs/index.mdx
  docs/docs/integrators/_category_.json
  docs/docs/introduction/_category_.json
  docs/docs/introduction/overview.md
  docs/docs/introduction/params.md
  docs/docs/introduction/terminology.md
  docs/docs/validators/_category_.json
  docs/docusaurus.config.js
  docs/figures/hypha-consumer-start-process.svg
  docs/supported_versions.json
  tests/e2e/test_runner.go
  x/ccv/consumer/keeper/keeper.go
  x/ccv/consumer/types/keys.go
  x/ccv/provider/keeper/permissionless.go
Labels: C:Testing, C:x/consumer, C:x/provider, C:Docs, C:ADR, A:backport/v6.1.x

#2309 feat!: enable chains to allowlist reward denoms permissionlessly
  .changelog/unreleased/features/2309-allow-permissionless-whitelisting.md
  .changelog/unreleased/state-breaking/2309-allow-permissionless-whitelisting.md
  proto/interchain_security/ccv/provider/v1/provider.proto
  proto/interchain_security/ccv/provider/v1/tx.proto
  tests/integration/distribution.go
  x/ccv/provider/ibc_middleware.go
  x/ccv/provider/keeper/consumer_lifecycle.go
  x/ccv/provider/keeper/distribution.go
  x/ccv/provider/keeper/distribution_test.go
  x/ccv/provider/keeper/msg_server.go
  x/ccv/provider/migrations/v8/migrations_test.go
  x/ccv/provider/types/errors.go
  x/ccv/provider/types/keys.go
  x/ccv/provider/types/keys_test.go
  x/ccv/provider/types/provider.pb.go
  x/ccv/provider/types/tx.pb.go
Labels: C:Testing, C:x/provider

#2313 fix: fix `list-consumer-chains` CLI command
  x/ccv/provider/client/cli/query.go
Labels: C:x/provider, A:backport/v6.1.x

#2324 feat!: add stride consumer reward patch back
  x/ccv/provider/ibc_middleware.go
  x/ccv/provider/keeper/distribution.go
Labels: C:x/provider

#2316 test: clean democracy E2E-test
  tests/e2e/state.go
  tests/e2e/steps_democracy.go
Labels: C:Testing

#2323 feat!: refactor consumer rewards
  tests/integration/distribution.go
  testutil/integration/debug_test.go
  x/ccv/provider/keeper/distribution.go
Labels: C:Testing, C:x/provider

#2326 fix!: enable the submission of allowlisted reward denoms
  docs/docs/build/modules/02-provider.md
  docs/docs/consumer-development/onboarding.md
  proto/interchain_security/ccv/provider/v1/query.proto
  proto/interchain_security/ccv/provider/v1/tx.proto
  x/ccv/provider/client/cli/tx.go
  x/ccv/provider/keeper/grpc_query.go
  x/ccv/provider/keeper/grpc_query_test.go
  x/ccv/provider/keeper/msg_server.go
  x/ccv/provider/types/msg.go
  x/ccv/provider/types/msg_test.go
  x/ccv/provider/types/provider.pb.go
  x/ccv/provider/types/query.pb.go
  x/ccv/provider/types/tx.pb.go
  x/ccv/types/shared_consumer.pb.go
Labels: C:x/provider, C:x/types, C:Docs

#2089 test: Audit some integration tests, make minor changes, and add plaintext test list
  .github/workflows/testing-docs.yml
  Makefile
  TESTING.md
  scripts/test_doc/extract_docstrings.go
  scripts/test_doc/test_documentation.md
  tests/integration/README.md
  tests/integration/changeover.go
  tests/integration/democracy.go
  tests/integration/distribution.go
  tests/integration/double_vote.go
  tests/integration/expired_client.go
  tests/integration/key_assignment.go
  tests/integration/misbehaviour.go
  tests/integration/normal_operations.go
  tests/integration/partial_set_security_test.go
  tests/integration/query_providerinfo_test.go
  tests/integration/setup.go
  tests/integration/slashing.go
  tests/integration/stop_consumer.go
  tests/integration/throttle.go
  tests/integration/throttle_retry.go
  tests/integration/unbonding.go
  tests/integration/valset_update.go
  testutil/keeper/unit_test_helpers.go
Labels: C:Testing, C:x/provider, C:x/types, C:Build, C:CI

#2343 docs: fix broken link
  docs/docs/build/modules/04-democracy.md
Labels: C:Docs

#2347 chore: update mergify and dependabot
  .github/dependabot.yml
  .mergify.yml
Labels: C:CI

#2346 fix!: some cleaning up
  scripts/test_doc/test_documentation.md
  tests/integration/slashing.go
  x/ccv/provider/keeper/relay.go
  x/ccv/provider/keeper/relay_test.go
Labels: C:Testing, C:x/provider, C:Build, A:backport/v6.2.x

#2336 test: fix e2e-tests flakiness
  Dockerfile
  tests/e2e/test_runner.go
Labels: C:Testing, C:Build

#2352 docs: improve CLI help messages
  x/ccv/provider/client/cli/tx.go
Labels: C:x/provider, A:backport/v6.2.x

#2356 refactor: clean distribution logs
  x/ccv/provider/keeper/distribution.go
Labels: C:x/provider, A:backport/v6.2.x

#2355 docs: update docs
  docs/docs/build/modules/02-provider.md
  docs/docs/build/modules/03-consumer.md
  docs/docs/consumer-development/changeover-procedure.md
  docs/docs/consumer-development/onboarding.md
  x/ccv/provider/client/cli/tx.go
Labels: C:x/provider, C:Docs, A:backport/v6.2.x

#2357 fix!: validate initial height and set default values for init consumer params
  .changelog/unreleased/improvements/2357-init-params.md
  .changelog/unreleased/state-breaking/2357-init-params.md
  Dockerfile
  Dockerfile.combined
  tests/e2e/actions.go
  testutil/keeper/unit_test_helpers.go
  x/ccv/provider/keeper/consumer_lifecycle_test.go
  x/ccv/provider/keeper/grpc_query_test.go
  x/ccv/provider/keeper/msg_server.go
  x/ccv/provider/keeper/msg_server_test.go
  x/ccv/provider/keeper/permissionless.go
  x/ccv/provider/keeper/permissionless_test.go
  x/ccv/provider/types/msg.go
  x/ccv/provider/types/msg_test.go
  x/ccv/provider/types/provider.go
  x/ccv/types/params.go
Labels: C:Testing, C:x/provider, C:x/types, C:Build

#2146 docs: ADR for Customizable Slashing and Jailing
  docs/docs/adrs/adr-020-cutomizable_slashing_and_jailing.md
Labels: C:Docs, C:ADR

#2363 fix!: add check for zero rewards
  .changelog/unreleased/bug-fixes/2363-zero-rewards.md
  .changelog/unreleased/state-breaking/2363-zero-rewards.md
  x/ccv/provider/keeper/distribution.go
Labels: C:x/provider

#2365 docs: update onboarding guidelines
  docs/docs/build/modules/02-provider.md
  docs/docs/consumer-development/onboarding.md
  x/ccv/provider/client/cli/tx.go
Labels: C:x/provider, C:Docs

#2369 chore: update mergify and dependabot
  .github/dependabot.yml
  .mergify.yml
Labels: C:CI

#2345 fix: fix slice init length
  x/ccv/provider/keeper/consumer_equivocation.go
Labels: C:x/provider

#2101 feat!: Add support for priority validators
  .changelog/unreleased/features/provider/2101-introduce-priority-validators.md
  .changelog/unreleased/state-breaking/2101-introduce-priority-validators.md
  .github/workflows/nightly-e2e.yml
  contrib/local-testnet.sh
  docs/docs/build/modules/02-provider.md
  docs/docs/consumer-development/onboarding.md
  docs/docs/features/power-shaping.md
  proto/interchain_security/ccv/provider/v1/provider.proto
  proto/interchain_security/ccv/provider/v1/query.proto
  tests/e2e/actions.go
  tests/e2e/main.go
  tests/e2e/steps_partial_set_security.go
  testutil/keeper/unit_test_helpers.go
  x/ccv/provider/client/cli/tx.go
  x/ccv/provider/client/legacy_proposals.go
  x/ccv/provider/keeper/consumer_lifecycle.go
  x/ccv/provider/keeper/consumer_lifecycle_test.go
  x/ccv/provider/keeper/grpc_query.go
  x/ccv/provider/keeper/grpc_query_test.go
  x/ccv/provider/keeper/power_shaping.go
  x/ccv/provider/keeper/power_shaping_test.go
  x/ccv/provider/keeper/validator_set_update.go
  x/ccv/provider/types/keys.go
  x/ccv/provider/types/keys_test.go
  x/ccv/provider/types/msg.go
  x/ccv/provider/types/msg_test.go
  x/ccv/provider/types/provider.pb.go
  x/ccv/provider/types/query.pb.go
Labels: C:Testing, C:x/provider, C:CI, C:Docs, C:ADR

#2338 docs: add spawn page to docs
  docs/docs/consumer-development/app-integration.md
  docs/docs/consumer-development/changeover-procedure.md
  docs/docs/consumer-development/consumer-chain-governance.md
  docs/docs/consumer-development/consumer-genesis-transformation.md
  docs/docs/consumer-development/create-with-spawn.md
  docs/docs/consumer-development/offboarding.md
  docs/docs/consumer-development/onboarding.md
Labels: C:Docs
