Repository cosmos/interchain-security, pull requests merged in 2024-11, with the labels that each got.

#2344 test: fix key assignment in testing
  tests/integration/setup.go
  testutil/ibc_testing/generic_setup.go
Labels: C:Testing

#2378 feat!: allow the chain id to be updated if the chain has not yet launched
  .changelog/unreleased/features/2378-allow-chain-id-updates.md
  .changelog/unreleased/state-breaking/2378-allow-chain-id-updates.md
  docs/docs/build/modules/02-provider.md
  proto/interchain_security/ccv/provider/v1/tx.proto
  x/ccv/provider/client/cli/tx.go
  x/ccv/provider/keeper/msg_server.go
  x/ccv/provider/keeper/msg_server_test.go
  x/ccv/provider/keeper/permissionless.go
  x/ccv/provider/keeper/permissionless_test.go
  x/ccv/provider/types/msg.go
  x/ccv/provider/types/msg_test.go
  x/ccv/provider/types/tx.pb.go
Labels: C:x/provider, C:Docs

#2389 chore: fix typos
  docs/docs/build/modules/02-provider.md
  docs/docs/build/modules/03-consumer.md
Labels: C:Docs

#2354 fix: make consumer-democracy read the sovereign genesis from nodeHome
  app/consumer-democracy/app.go
  tests/e2e/testnet-scripts/start-changeover.sh
Labels: C:Testing

#2368 ci: Interchaintests for provider actions run on provider
  Makefile
  tests/interchain/chainsuite/chain.go
  tests/interchain/chainsuite/chain_spec_provider.go
  tests/interchain/chainsuite/config.go
  tests/interchain/chainsuite/context.go
  tests/interchain/chainsuite/query_types.go
  tests/interchain/go.mod
  tests/interchain/go.sum
  tests/interchain/provider_suite.go
  tests/interchain/provider_test.go
  tests/interchain/provider_utils.go
Labels: C:Testing, C:Build

#2398 fix: enable pagination and introduce new response data in queries
  .changelog/unreleased/bug-fixes/2398-enable-pagination-in-listing-chain-query.md
  docs/docs/build/modules/02-provider.md
  proto/interchain_security/ccv/provider/v1/query.proto
  x/ccv/provider/client/cli/query.go
  x/ccv/provider/keeper/grpc_query.go
  x/ccv/provider/keeper/grpc_query_test.go
  x/ccv/provider/types/query.pb.go
Labels: C:x/provider, C:Docs
