Repository cosmos/interchain-security, pull requests merged in 2024-06, with the labels that each got.

#1931 test: e2e fix PSS tests
  proto/interchain_security/ccv/provider/v1/tx.proto
  tests/e2e/steps_consumer_misbehaviour.go
  tests/e2e/steps_partial_set_security.go
  x/ccv/provider/client/cli/tx.go
  x/ccv/provider/handler.go
  x/ccv/provider/types/msg.go
  x/ccv/provider/types/tx.pb.go
Labels: C:Testing, C:x/provider

#1933 chore!: fix PSS mem-tests (SDK v50 upgrade)
  tests/integration/distribution.go
  testutil/ibc_testing/generic_setup.go
  testutil/keeper/expectations.go
  x/ccv/provider/handler_test.go
  x/ccv/provider/keeper/distribution.go
  x/ccv/provider/keeper/grpc_query_test.go
  x/ccv/provider/keeper/keeper_test.go
  x/ccv/provider/keeper/legacy_proposal_test.go
  x/ccv/provider/keeper/partial_set_security_test.go
  x/ccv/provider/keeper/proposal.go
  x/ccv/provider/keeper/proposal_test.go
  x/ccv/provider/keeper/relay_test.go
  x/ccv/provider/keeper/validator_set_update_test.go
  x/ccv/provider/module.go
Labels: C:Testing, C:x/provider

#1938 chore: fix struct name in comment
  x/ccv/types/expected_keepers.go
Labels: C:x/types

#1932 feat!: allow consumer chains to change their PSS parameters
  proto/interchain_security/ccv/provider/v1/provider.proto
  x/ccv/provider/client/proposal_handler.go
  x/ccv/provider/keeper/proposal.go
  x/ccv/provider/keeper/proposal_test.go
  x/ccv/provider/proposal_handler.go
  x/ccv/provider/types/codec.go
  x/ccv/provider/types/errors.go
  x/ccv/provider/types/proposal.go
  x/ccv/provider/types/proposal_test.go
  x/ccv/provider/types/provider.pb.go
Labels: C:x/provider

#1941 chore!: Add last PSS changes
  .changelog/unreleased/bug-fixes/provider/1925-apply-audit-suggestions.md
  .changelog/unreleased/dependencies/1907-bump-ibc.md
  .changelog/unreleased/dependencies/1924-bump-ibc.md
  .changelog/unreleased/state-breaking/provider/1925-apply-audit-suggestions.md
  .github/workflows/docker-publish.yml
  .github/workflows/proto-registry.yml
  .github/workflows/proto.yml
  docs/docs/adrs/adr-017-allowing-inactive-validators.md
  docs/docs/adrs/intro.md
  docs/docs/features/power-shaping.md
  docs/figures/inactivevals_after.excalidraw
  docs/figures/inactivevals_after.png
  docs/figures/inactivevals_before.excalidraw
  docs/figures/inactivevals_before.png
  go.mod
  go.sum
  proto/interchain_security/ccv/provider/v1/provider.proto
  proto/interchain_security/ccv/provider/v1/tx.proto
  tests/e2e/steps_partial_set_security.go
  tests/mbt/driver/setup.go
  x/ccv/consumer/keeper/soft_opt_out.go
  x/ccv/provider/client/legacy_proposal_handler.go
  x/ccv/provider/client/legacy_proposals.go
  x/ccv/provider/client/proposal_handler.go
  x/ccv/provider/keeper/consumer_equivocation.go
  x/ccv/provider/keeper/distribution.go
  x/ccv/provider/keeper/keeper.go
  x/ccv/provider/keeper/legacy_proposal.go
  x/ccv/provider/keeper/legacy_proposal_test.go
  x/ccv/provider/keeper/msg_server.go
  x/ccv/provider/keeper/partial_set_security.go
  x/ccv/provider/keeper/partial_set_security_test.go
  x/ccv/provider/keeper/proposal.go
  x/ccv/provider/keeper/proposal_test.go
  x/ccv/provider/keeper/relay.go
  x/ccv/provider/keeper/validator_set_update.go
  x/ccv/provider/proposal_handler.go
  x/ccv/provider/types/codec.go
  x/ccv/provider/types/errors.go
  x/ccv/provider/types/legacy_proposal.go
  x/ccv/provider/types/legacy_proposal_test.go
  x/ccv/provider/types/provider.pb.go
  x/ccv/provider/types/tx.pb.go
  x/ccv/types/expected_keepers.go
Labels: C:Testing, C:x/consumer, C:x/provider, C:x/types, C:CI, C:Docs, C:ADR

#1945 test: Add integration test reproducing the LastValidators exceeding MaxValidators bug
  tests/integration/unbonding.go
  testutil/integration/debug_test.go
  testutil/integration/interfaces.go
  testutil/keeper/mocks.go
Labels: C:Testing

#1942 test: Add an e2e test that reproduces the chain halt
  .github/workflows/nightly-e2e.yml
  tests/e2e/config.go
  tests/e2e/main.go
  tests/e2e/steps_active_set_changes.go
Labels: C:Testing, C:CI

#1948 docs: update releases (bots and docs)
  .github/dependabot.yml
  .mergify.yml
  FEATURES.md
  RELEASES.md
Labels: C:CI

#1953 refactor: use IterateLastValidatorPowers instead of GetLastValidators
  tests/integration/unbonding.go
  testutil/ibc_testing/generic_setup.go
  testutil/keeper/expectations.go
  testutil/keeper/mocks.go
  testutil/keeper/unit_test_helpers.go
  x/ccv/consumer/keeper/changeover_test.go
  x/ccv/consumer/keeper/keeper.go
  x/ccv/consumer/keeper/keeper_test.go
  x/ccv/provider/keeper/grpc_query.go
  x/ccv/provider/keeper/grpc_query_test.go
  x/ccv/provider/keeper/partial_set_security.go
  x/ccv/provider/keeper/partial_set_security_test.go
  x/ccv/provider/keeper/proposal.go
  x/ccv/provider/keeper/proposal_test.go
  x/ccv/provider/keeper/relay.go
  x/ccv/provider/keeper/relay_test.go
  x/ccv/provider/keeper/validator_set_update.go
  x/ccv/provider/proposal_handler_test.go
  x/ccv/types/expected_keepers.go
  x/ccv/types/utils.go
Labels: C:Testing, C:x/consumer, C:x/provider, C:x/types

#1959 ci: fix merge issue on nightly e2e workflow
  .github/workflows/nightly-e2e.yml
Labels: C:CI

#1952 feat!: store the minimal power to be in the top N on EndBlock, instead of computing on-the-fly
  x/ccv/provider/keeper/grpc_query.go
  x/ccv/provider/keeper/grpc_query_test.go
  x/ccv/provider/keeper/keeper.go
  x/ccv/provider/keeper/keeper_test.go
  x/ccv/provider/keeper/partial_set_security.go
  x/ccv/provider/keeper/partial_set_security_test.go
  x/ccv/provider/keeper/proposal.go
  x/ccv/provider/keeper/relay.go
  x/ccv/provider/migrations/migrator.go
  x/ccv/provider/migrations/v6/migrations.go
  x/ccv/provider/module.go
  x/ccv/provider/types/keys.go
  x/ccv/provider/types/keys_test.go
Labels: C:x/provider

#1950 chore!: backport #1946 (GetAllConsumerChains fix) to `feat/pss-upgrade-v50` branch
  .changelog/unreleased/bug-fixes/provider/1946-get-consumer-chains.md
  tests/mbt/driver/core.go
  tests/mbt/driver/mbt_test.go
  x/ccv/provider/keeper/distribution.go
  x/ccv/provider/keeper/genesis.go
  x/ccv/provider/keeper/grpc_query.go
  x/ccv/provider/keeper/grpc_query_test.go
  x/ccv/provider/keeper/hooks.go
  x/ccv/provider/keeper/keeper.go
  x/ccv/provider/keeper/keeper_test.go
  x/ccv/provider/keeper/partial_set_security.go
  x/ccv/provider/keeper/relay.go
  x/ccv/provider/migrations/v3/migrations.go
  x/ccv/provider/migrations/v5/migrations.go
Labels: C:Testing, C:x/provider

#1962 chore: add ICS `release/v5.1.x` branch to Mergify
  .github/dependabot.yml
  .mergify.yml
Labels: C:CI

#1960 fix: backport #1949 + fix handler entry
  .github/workflows/nightly-e2e.yml
  app/provider/app.go
  docs/docs/features/partial-set-security.md
  docs/docs/features/power-shaping.md
  docs/docs/features/proposals.md
  docs/docs/frequently-asked-questions.md
  docs/docs/validators/joining-testnet.md
  docs/docs/validators/overview.md
  tests/e2e/actions.go
  tests/e2e/main.go
  tests/e2e/state.go
  tests/e2e/steps_partial_set_security.go
  tests/e2e/test_driver.go
  tests/e2e/testlib/types.go
  tests/integration/distribution.go
  x/ccv/provider/types/legacy_proposal.go
Labels: C:Testing, C:x/provider, C:CI, C:Docs

#1965 chore: backport regression mem tests for Hub halt (#1945)
  tests/integration/unbonding.go
  testutil/integration/debug_test.go
  testutil/integration/interfaces.go
Labels: C:Testing

#1963 test: backport #1942
  .github/workflows/nightly-e2e.yml
  tests/e2e/config.go
  tests/e2e/main.go
  tests/e2e/steps_active_set_changes.go
Labels: C:Testing, C:CI

#1966 chore: use `IterateLastValidatorPowers` instead of `GetLastValidators` (backport #1953)
  tests/integration/unbonding.go
  testutil/ibc_testing/generic_setup.go
  testutil/keeper/expectations.go
  testutil/keeper/unit_test_helpers.go
  x/ccv/consumer/keeper/changeover_test.go
  x/ccv/consumer/keeper/keeper.go
  x/ccv/consumer/keeper/keeper_test.go
  x/ccv/provider/keeper/grpc_query.go
  x/ccv/provider/keeper/grpc_query_test.go
  x/ccv/provider/keeper/legacy_proposal_test.go
  x/ccv/provider/keeper/partial_set_security.go
  x/ccv/provider/keeper/partial_set_security_test.go
  x/ccv/provider/keeper/proposal.go
  x/ccv/provider/keeper/proposal_test.go
  x/ccv/provider/keeper/relay.go
  x/ccv/provider/keeper/relay_test.go
  x/ccv/provider/keeper/validator_set_update.go
  x/ccv/provider/proposal_handler_test.go
  x/ccv/types/utils.go
Labels: C:Testing, C:x/consumer, C:x/provider, C:x/types

#1929 feat!: only distribute rewards to validators that have been validating a consumer chain for some time
  .changelog/unreleased/improvements/provider/1929-distribute-rewards-to-long-term-validating-validators.md
  .changelog/unreleased/state-breaking/provider/1929-distribute-rewards-to-long-term-validating-validators.md
  docs/docs/validators/withdraw_rewards.md
  proto/interchain_security/ccv/provider/v1/provider.proto
  tests/integration/distribution.go
  x/ccv/provider/keeper/distribution.go
  x/ccv/provider/keeper/distribution_test.go
  x/ccv/provider/keeper/params.go
  x/ccv/provider/keeper/params_test.go
  x/ccv/provider/keeper/proposal_test.go
  x/ccv/provider/keeper/relay_test.go
  x/ccv/provider/keeper/validator_set_update.go
  x/ccv/provider/migrations/migrator.go
  x/ccv/provider/migrations/v6/migration_test.go
  x/ccv/provider/migrations/v6/migrations.go
  x/ccv/provider/module.go
  x/ccv/provider/types/genesis_test.go
  x/ccv/provider/types/params.go
  x/ccv/provider/types/params_test.go
  x/ccv/provider/types/provider.pb.go
Labels: source: audit, C:Testing, C:x/consumer, C:x/provider, C:x/types, C:CI, C:Docs, C:ADR

#1975 chore: add bots for v4.3.0
  .github/dependabot.yml
  .mergify.yml
Labels: C:CI

#1977 feat!: store the minimal power to be in the top N on EndBlock
  x/ccv/provider/keeper/grpc_query.go
  x/ccv/provider/keeper/grpc_query_test.go
  x/ccv/provider/keeper/keeper.go
  x/ccv/provider/keeper/keeper_test.go
  x/ccv/provider/keeper/legacy_proposal.go
  x/ccv/provider/keeper/partial_set_security.go
  x/ccv/provider/keeper/partial_set_security_test.go
  x/ccv/provider/keeper/proposal.go
  x/ccv/provider/keeper/relay.go
  x/ccv/provider/migrations/migrator.go
  x/ccv/provider/migrations/v6/migrations.go
  x/ccv/provider/types/keys.go
  x/ccv/provider/types/keys_test.go
Labels: C:x/provider

#1981 docs: mention PSS in changeover procedure and replace Replicated Security with Interchain Security
  docs/docs/adrs/adr-005-cryptographic-equivocation-verification.md
  docs/docs/adrs/adr-008-throttle-retries.md
  docs/docs/adrs/adr-010-standalone-changeover.md
  docs/docs/consumer-development/app-integration.md
  docs/docs/consumer-development/changeover-procedure.md
  docs/docs/features/reward-distribution.md
  docs/docs/frequently-asked-questions.md
  docs/docs/index.mdx
  docs/docs/introduction/terminology.md
  docs/docs/validators/changeover-procedure.md
  docs/docs/validators/overview.md
  docs/docs/validators/withdraw_rewards.md
Labels: C:Docs, C:ADR, A:backport/v4.2.x, A:backport/v4.2.x-lsm, A:backport/v4.3.x, A:backport/v4.3.x-lsm

#1973 chore: fix typos
  CONTRIBUTING.md
  RELEASES.md
  RELEASE_PROCESS.md
  UPGRADING.md
  tests/e2e/state.go
  tests/integration/unbonding.go
  tests/mbt/model/ccv.qnt
  x/ccv/consumer/keeper/validators.go
  x/ccv/provider/ibc_middleware.go
  x/ccv/provider/keeper/consumer_equivocation.go
Labels: C:Testing, C:x/consumer, C:x/provider

#1984 chore: align to LSM hook signature to SDK v0.50.0
  x/ccv/provider/keeper/hooks.go
Labels: C:Testing, C:x/consumer, C:x/provider, C:x/types, C:Build, C:CI, C:Docs, C:ADR, C:x/democracy

#1982 fix!: update PSS reward distribution to work with SDK v0.50.0 changes
  tests/integration/distribution.go
  x/ccv/provider/keeper/distribution.go
Labels: C:Testing, C:x/provider

#1983 chore!: only distribute rewards to validators that have been validating a consumer chain for some backport #1929
  .changelog/unreleased/improvements/provider/1929-distribute-rewards-to-long-term-validating-validators.md
  .changelog/unreleased/state-breaking/provider/1929-distribute-rewards-to-long-term-validating-validators.md
  docs/docs/validators/withdraw_rewards.md
  proto/interchain_security/ccv/provider/v1/provider.proto
  tests/integration/distribution.go
  x/ccv/provider/keeper/distribution.go
  x/ccv/provider/keeper/distribution_test.go
  x/ccv/provider/keeper/params.go
  x/ccv/provider/keeper/params_test.go
  x/ccv/provider/keeper/proposal_test.go
  x/ccv/provider/keeper/relay_test.go
  x/ccv/provider/keeper/validator_set_update.go
  x/ccv/provider/migrations/migrator.go
  x/ccv/provider/migrations/v6/migration_test.go
  x/ccv/provider/migrations/v6/migrations.go
  x/ccv/provider/migrations/v7/legacy_params.go
  x/ccv/provider/migrations/v7/migrations.go
  x/ccv/provider/migrations/v7/migrations_test.go
  x/ccv/provider/module.go
  x/ccv/provider/types/genesis_test.go
  x/ccv/provider/types/params.go
  x/ccv/provider/types/params_test.go
  x/ccv/provider/types/provider.pb.go
Labels: C:Testing, C:x/consumer, C:x/provider, C:x/types, C:Build, C:CI, C:Docs, C:ADR, C:x/democracy
