Repository cosmos/interchain-security, pull requests merged in 2024-09, with the labels that each got.

#2197 fix!: provider msg validation
  x/ccv/provider/keeper/msg_server.go
  x/ccv/provider/types/errors.go
  x/ccv/provider/types/keys_test.go
  x/ccv/provider/types/legacy_proposal.go
  x/ccv/provider/types/legacy_proposal_test.go
  x/ccv/provider/types/msg.go
Labels: C:x/provider

#2192 test: fix e2e tests + PSS e2e tests use permissionless
  tests/e2e/actions.go
  tests/e2e/config.go
  tests/e2e/main.go
  tests/e2e/state.go
  tests/e2e/steps_partial_set_security.go
  tests/e2e/test_driver.go
  tests/e2e/testlib/types.go
  tests/e2e/testlib/utils.go
Labels: C:Testing

#2207 refactor: power shaping
  tests/integration/partial_set_security_test.go
  tests/mbt/driver/setup.go
  testutil/keeper/unit_test_helpers.go
  x/ccv/provider/keeper/consumer_lifecycle_test.go
  x/ccv/provider/keeper/grpc_query_test.go
  x/ccv/provider/keeper/keeper.go
  x/ccv/provider/keeper/keeper_test.go
  x/ccv/provider/keeper/msg_server.go
  x/ccv/provider/keeper/partial_set_security_test.go
  x/ccv/provider/keeper/permissionless.go
  x/ccv/provider/keeper/permissionless_test.go
  x/ccv/provider/keeper/power_shaping.go
  x/ccv/provider/keeper/power_shaping_test.go
  x/ccv/provider/keeper/relay_test.go
  x/ccv/types/errors.go
Labels: C:Testing, C:x/provider, C:x/types

#2205 fix!: handle some panics
  x/ccv/provider/keeper/relay.go
  x/ccv/provider/keeper/relay_test.go
  x/ccv/provider/keeper/validator_set_storage.go
Labels: C:x/provider

#2209 feat: fix queries
  proto/interchain_security/ccv/provider/v1/query.proto
  x/ccv/provider/client/cli/query.go
  x/ccv/provider/keeper/grpc_query.go
  x/ccv/provider/keeper/grpc_query_test.go
  x/ccv/provider/keeper/keeper.go
  x/ccv/provider/types/query.pb.go
  x/ccv/provider/types/query.pb.gw.go
Labels: C:x/provider

#2211 feat: remove provider migration for CV 3 to 6
  .changelog/unreleased/features/provider/2211-deprecate-migration.md
  x/ccv/provider/migrations/migrator.go
  x/ccv/provider/migrations/v4/migration_test.go
  x/ccv/provider/migrations/v4/migrations.go
  x/ccv/provider/migrations/v5/migration_test.go
  x/ccv/provider/migrations/v5/migrations.go
  x/ccv/provider/migrations/v6/migration_test.go
  x/ccv/provider/migrations/v6/migrations.go
Labels: C:Testing, C:x/provider, C:x/types, C:Build, C:Docs, C:ADR

#2214 fix!: fix migration issue
  x/ccv/provider/migrations/v8/migrations.go
Labels: C:x/provider

#2215 fix!: register `ConsumerModificationProposal` and others
  x/ccv/provider/types/codec.go
Labels: C:x/provider

#2213 fix: fix misbehaviour and equivocation evidence CLI commands
  proto/interchain_security/ccv/provider/v1/query.proto
  tests/mbt/driver/core.go
  tests/mbt/driver/mbt_test.go
  x/ccv/provider/client/cli/tx.go
  x/ccv/provider/types/msg.go
  x/ccv/provider/types/query.pb.go
Labels: C:Testing, C:x/provider

#2216 fix!: add message validation of signers (bring fix to main)
  x/ccv/provider/types/msg.go
  x/ccv/provider/types/msg_test.go
Labels: C:x/provider

#2220 nit: remove type prefix from consumer phase enum
  proto/interchain_security/ccv/provider/v1/provider.proto
  tests/e2e/state.go
  tests/integration/setup.go
  tests/integration/stop_consumer.go
  testutil/ibc_testing/generic_setup.go
  testutil/keeper/unit_test_helpers.go
  x/ccv/provider/handler_test.go
  x/ccv/provider/keeper/consumer_lifecycle.go
  x/ccv/provider/keeper/consumer_lifecycle_test.go
  x/ccv/provider/keeper/genesis_test.go
  x/ccv/provider/keeper/grpc_query.go
  x/ccv/provider/keeper/grpc_query_test.go
  x/ccv/provider/keeper/hooks_test.go
  x/ccv/provider/keeper/keeper_test.go
  x/ccv/provider/keeper/key_assignment.go
  x/ccv/provider/keeper/key_assignment_test.go
  x/ccv/provider/keeper/msg_server.go
  x/ccv/provider/keeper/msg_server_test.go
  x/ccv/provider/keeper/partial_set_security.go
  x/ccv/provider/keeper/partial_set_security_test.go
  x/ccv/provider/keeper/permissionless.go
  x/ccv/provider/keeper/permissionless_test.go
  x/ccv/provider/keeper/relay.go
  x/ccv/provider/keeper/relay_test.go
  x/ccv/provider/migrations/v8/migrations.go
  x/ccv/provider/types/genesis.pb.go
  x/ccv/provider/types/provider.pb.go
  x/ccv/provider/types/query.pb.go
Labels: C:Testing, C:x/provider

#2219 refactor: stop using signer field in messages
  proto/interchain_security/ccv/provider/v1/tx.proto
  tests/e2e/actions.go
  testutil/keeper/unit_test_helpers.go
  x/ccv/provider/client/cli/tx.go
  x/ccv/provider/keeper/msg_server.go
  x/ccv/provider/keeper/msg_server_test.go
  x/ccv/provider/keeper/relay.go
  x/ccv/provider/types/msg.go
  x/ccv/provider/types/msg_test.go
  x/ccv/provider/types/tx.pb.go
Labels: C:Testing, C:x/provider

#2222 chore: update TX CLI help
  x/ccv/provider/client/cli/tx.go
Labels: C:x/provider

#2221 feat!: add events for provider messages
  x/ccv/provider/keeper/consumer_equivocation.go
  x/ccv/provider/keeper/consumer_lifecycle.go
  x/ccv/provider/keeper/keeper.go
  x/ccv/provider/keeper/msg_server.go
  x/ccv/provider/types/events.go
  x/ccv/types/events.go
Labels: C:x/provider, C:x/types

#2226 fix: fix queries' API endpoints
  proto/interchain_security/ccv/provider/v1/query.proto
  x/ccv/provider/types/query.pb.go
  x/ccv/provider/types/query.pb.gw.go
Labels: C:x/provider

#2224 fix!: replace CanLaunch with InitializeConsumer
  x/ccv/provider/keeper/consumer_lifecycle.go
  x/ccv/provider/keeper/consumer_lifecycle_test.go
  x/ccv/provider/keeper/msg_server.go
  x/ccv/provider/types/errors.go
  x/ccv/provider/types/msg.go
  x/ccv/provider/types/msg_test.go
Labels: C:x/provider

#2227 fix: improve commands' description
  x/ccv/provider/client/cli/tx.go
Labels: C:x/provider

#2228 fix: update keyring; make install fix
  cmd/interchain-security-cd/cmd/root.go
  cmd/interchain-security-cdd/cmd/root.go
  cmd/interchain-security-pd/cmd/root.go
  cmd/interchain-security-sd/cmd/root.go
Labels: C:Testing

#2233 test: introduce checks for the migration of launched chains
  x/ccv/provider/migrations/v8/migrations.go
  x/ccv/provider/migrations/v8/migrations_test.go
Labels: C:x/provider

#2234 test: fix e2e-tests
  Dockerfile
  Dockerfile.combined
  Dockerfile.gaia
  tests/e2e/actions.go
  tests/e2e/json_marshal_test.go
  tests/e2e/steps.go
  tests/e2e/steps_active_set_changes.go
  tests/e2e/steps_compatibility.go
  tests/e2e/steps_consumer_misbehaviour.go
  tests/e2e/steps_democracy.go
  tests/e2e/steps_inactive_vals.go
  tests/e2e/steps_partial_set_security.go
  tests/e2e/steps_sovereign_changeover.go
  tests/e2e/steps_start_chains.go
  tests/e2e/steps_stop_chain.go
  tests/e2e/testnet-scripts/start-chain.sh
  tests/e2e/trace_handlers_test.go
Labels: C:Testing, C:Build

#2235 fix!: revert compat breaks; cleanup
  app/provider/app.go
  proto/interchain_security/ccv/provider/v1/provider.proto
  proto/interchain_security/ccv/provider/v1/tx.proto
  x/ccv/provider/handler.go
  x/ccv/provider/handler_test.go
  x/ccv/provider/keeper/msg_server.go
  x/ccv/provider/proposal_handler.go
  x/ccv/provider/proposal_handler_test.go
  x/ccv/provider/types/msg.go
  x/ccv/provider/types/msg_test.go
  x/ccv/provider/types/provider.pb.go
  x/ccv/provider/types/tx.pb.go
Labels: C:Testing, C:x/provider

#2223 test: Add e2e tests for permissionless ICS
  tests/e2e/actions.go
  tests/e2e/config.go
  tests/e2e/main.go
  tests/e2e/state.go
  tests/e2e/steps_partial_set_security.go
  tests/e2e/steps_permissionless_ics.go
  tests/e2e/steps_start_chains.go
  tests/e2e/test_runner.go
  tests/e2e/testnet-scripts/start-chain.sh
Labels: C:Testing, C:x/consumer, C:x/provider, C:x/types, C:Build, C:CI, C:Docs, C:ADR, C:x/democracy

#2243 fix!: add metadata and init params default during permissionless migration
  UPGRADING.md
  x/ccv/provider/migrations/v8/migrations.go
Labels: C:x/provider

#2244 fix: disallow the creation of chains that use chain ids of existing running chains
  x/ccv/provider/types/msg.go
  x/ccv/provider/types/msg_test.go
Labels: C:x/provider

#2237 fix: address comments from permissionless review
  x/ccv/provider/keeper/consumer_lifecycle.go
  x/ccv/provider/keeper/msg_server.go
  x/ccv/provider/keeper/params.go
  x/ccv/provider/types/errors.go
  x/ccv/provider/types/msg.go
Labels: C:x/provider

#2249 feat!: remove functionality that stops validators to opt-in on multiple chains with same chain ID
  tests/mbt/driver/setup.go
  testutil/ibc_testing/generic_setup.go
  x/ccv/consumer/keeper/keeper.go
  x/ccv/provider/keeper/consumer_lifecycle.go
  x/ccv/provider/keeper/distribution_test.go
  x/ccv/provider/keeper/grpc_query.go
  x/ccv/provider/keeper/keeper.go
  x/ccv/provider/keeper/keeper_test.go
  x/ccv/provider/keeper/key_assignment_test.go
  x/ccv/provider/keeper/msg_server_test.go
  x/ccv/provider/keeper/partial_set_security.go
  x/ccv/provider/keeper/partial_set_security_test.go
  x/ccv/provider/keeper/permissionless.go
  x/ccv/provider/keeper/permissionless_test.go
  x/ccv/provider/keeper/power_shaping.go
  x/ccv/provider/keeper/power_shaping_test.go
  x/ccv/provider/keeper/relay.go
  x/ccv/provider/keeper/validator_set_update.go
  x/ccv/provider/keeper/validator_set_update_test.go
  x/ccv/provider/migrations/v8/migrations.go
  x/ccv/provider/types/keys.go
  x/ccv/provider/types/keys_test.go
  x/ccv/types/utils.go
Labels: C:Testing, C:x/consumer, C:x/provider, C:x/types

#2247 test: adapt e2e compatibility tests
  .github/workflows/nightly-e2e.yml
  Makefile
  tests/e2e/actions.go
  tests/e2e/state.go
  tests/e2e/test_driver.go
  tests/e2e/testlib/types.go
  tests/e2e/v4/actions.go
Labels: C:Testing, C:Build, C:CI

#2251 test: update e2e permissionless tests
  .changelog/unreleased/api-breaking/provider/2171-permissionless-ICS.md
  .changelog/unreleased/features/provider/2171-permissionless-ICS.md
  tests/e2e/actions.go
  tests/e2e/state.go
  tests/e2e/steps_partial_set_security.go
  tests/e2e/steps_permissionless_ics.go
  tests/e2e/steps_start_chains.go
Labels: C:Testing

#2248 feat: fix equivocation e2e-test + fix CLI
  tests/e2e/action_rapid_test.go
  tests/e2e/actions.go
  tests/e2e/json_utils.go
  tests/e2e/steps_consumer_misbehaviour.go
  tests/e2e/steps_double_sign.go
  tests/e2e/test_driver.go
  x/ccv/provider/client/cli/tx.go
Labels: C:Testing, C:x/provider

#2258 feat: fix consumer misbehaviour e2e-test + fix CLI
  tests/e2e/action_rapid_test.go
  tests/e2e/actions.go
  tests/e2e/actions_consumer_misbehaviour.go
  tests/e2e/json_utils.go
  tests/e2e/steps_consumer_misbehaviour.go
  tests/e2e/steps_double_sign.go
  tests/e2e/test_driver.go
  x/ccv/provider/client/cli/tx.go
Labels: C:Testing, C:x/provider

#2259 fix!: make OptInTopNValidators return an error
  x/ccv/provider/keeper/consumer_lifecycle.go
  x/ccv/provider/keeper/partial_set_security.go
  x/ccv/provider/keeper/partial_set_security_test.go
  x/ccv/provider/keeper/relay.go
Labels: C:x/provider

#2260 refactor: simplify LaunchConsumer logic
  testutil/keeper/expectations.go
  testutil/keeper/unit_test_helpers.go
  x/ccv/provider/keeper/consumer_lifecycle.go
  x/ccv/provider/keeper/consumer_lifecycle_test.go
  x/ccv/provider/keeper/keeper_test.go
  x/ccv/provider/keeper/relay.go
  x/ccv/provider/keeper/validator_set_update.go
  x/ccv/provider/types/events.go
Labels: C:Testing, C:x/provider

#2261 docs: update Permissionless ICS ADR to capture latest changes
  docs/docs/adrs/adr-019-permissionless-ics.md
  docs/docs/adrs/figures/adr19_flows_of_launching_a_consumer_chain.excalidraw
  docs/docs/adrs/figures/adr19_flows_of_launching_a_consumer_chain.png
  docs/docs/adrs/figures/adr19_phases_of_a_consumer_chain.excalidraw
  docs/docs/adrs/figures/adr19_phases_of_a_consumer_chain.png
Labels: C:Docs, C:ADR

#2263 chore: update mergify and dependabot
  .github/dependabot.yml
  .mergify.yml
Labels: C:CI

#2265 test: extend slashing window in E2E-tests
  tests/e2e/actions.go
  tests/e2e/config.go
Labels: C:Testing, A:backport/v6.0.x

#2266 fix!: only validate active chains
  tests/integration/slashing.go
  x/ccv/provider/keeper/grpc_query.go
  x/ccv/provider/keeper/relay.go
Labels: C:Testing, C:x/provider, A:backport/v6.0.x

#2262 test: added more e2e permissionless tests
  .github/workflows/nightly-e2e.yml
  tests/e2e/actions.go
  tests/e2e/main.go
  tests/e2e/state.go
  tests/e2e/steps_permissionless_ics.go
  tests/e2e/test_driver.go
Labels: C:Testing, C:CI, A:backport/v6.0.x

#2271 fix!: enable consumer to be relaunched after failed attempt
  x/ccv/provider/keeper/consumer_lifecycle.go
  x/ccv/provider/keeper/consumer_lifecycle_test.go
  x/ccv/provider/keeper/msg_server.go
Labels: C:x/provider, A:backport/v6.0.x

#2148 refactor: change byte prefixing scheme for consumer
  x/ccv/consumer/keeper/keeper.go
  x/ccv/consumer/migrations/v2/migration.go
  x/ccv/consumer/migrations/v2/migration_test.go
  x/ccv/consumer/types/keys.go
  x/ccv/consumer/types/keys_test.go
  x/ccv/provider/types/keys.go
Labels: C:x/consumer, C:x/provider

#2285 chore: add v4.5.x to dependabot and mergify
  .github/dependabot.yml
  .mergify.yml
Labels: C:CI

#2282 fix!: remove duplicate event emission
  .changelog/unreleased/bug-fixes/2282-duplicate-events.md
  x/ccv/consumer/keeper/distribution.go
  x/ccv/provider/keeper/consumer_lifecycle.go
Labels: C:x/consumer, C:x/provider, A:backport/v4.5.x, A:backport/v6.1.x

#2288 fix!: enable the distribution of ICS rewards from Stride
  .changelog/unreleased/bug-fixes/2288-rewards-stride.md
  .changelog/unreleased/state-breaking/2288-rewards-stride.md
  x/ccv/provider/ibc_middleware.go
  x/ccv/provider/keeper/distribution.go
  x/ccv/provider/migrations/v8/migrations.go
  x/ccv/provider/types/events.go
  x/ccv/types/events.go
Labels: C:x/provider, C:x/types, A:backport/v6.1.x

#2290 feat!: add memo to IBC transfers of ICS rewards
  .changelog/unreleased/features/2290-add-memo-to-ICS-rewards.md
  .changelog/unreleased/state-breaking/2290-add-memo-to-ICS-rewards.md
  UPGRADING.md
  proto/interchain_security/ccv/v1/shared_consumer.proto
  tests/e2e/action_rapid_test.go
  tests/e2e/actions.go
  tests/e2e/state.go
  tests/e2e/state_rapid_test.go
  tests/e2e/steps_democracy.go
  tests/e2e/steps_inactive_vals.go
  tests/e2e/test_driver.go
  tests/e2e/testlib/types.go
  tests/e2e/v4/state.go
  tests/mbt/driver/setup.go
  x/ccv/consumer/keeper/distribution.go
  x/ccv/consumer/keeper/params.go
  x/ccv/consumer/keeper/params_test.go
  x/ccv/consumer/migrations/v3/legacy_params.go
  x/ccv/consumer/types/genesis_test.go
  x/ccv/consumer/types/params_test.go
  x/ccv/provider/ibc_middleware.go
  x/ccv/provider/keeper/consumer_lifecycle.go
  x/ccv/provider/keeper/consumer_lifecycle_test.go
  x/ccv/provider/keeper/grpc_query.go
  x/ccv/provider/types/errors.go
  x/ccv/provider/types/msg.go
  x/ccv/provider/types/msg_test.go
  x/ccv/types/errors.go
  x/ccv/types/params.go
  x/ccv/types/shared_consumer.pb.go
  x/ccv/types/shared_params.go
  x/ccv/types/shared_params_test.go
  x/ccv/types/wire.go
  x/ccv/types/wire_test.go
Labels: C:Testing, C:x/consumer, C:x/provider, C:x/types, A:backport/v4.5.x
