Repository cosmos/interchain-security, pull requests merged in 2024-03, with the labels that each got.

#1671 chore: fix GH workflow for compatiblity tests and docker images
  .github/workflows/docker-publish.yml
  .github/workflows/nightly-e2e.yml
Labels: C:CI

#1663 build(deps): bump SDK to v0.47.10
  .changelog/unreleased/dependencies/1663-bump-sdk.md
  go.mod
  go.sum
Labels: A:backport/v4.0.x, A:backport/v3.3.x

#1675 ci: update provider versions on nigthly comatibility runs
  .github/workflows/nightly-e2e.yml
Labels: C:CI

#1681 build: fix make issue
  .github/workflows/docker-publish.yml
  Makefile
Labels: C:Build, C:CI

#1682 ci: fix nightly compatiblity tests
  .github/workflows/nightly-e2e.yml
Labels: C:CI

#1684 refactor: simplify key-assignment logic
  x/ccv/provider/keeper/key_assignment.go
Labels: C:x/provider

#1672 refactor!: remove key-assignment replacements
  docs/docs/adrs/adr-001-key-assignment.md
  testutil/keeper/unit_test_helpers.go
  x/ccv/consumer/types/keys.go
  x/ccv/provider/keeper/grpc_query_test.go
  x/ccv/provider/keeper/key_assignment.go
  x/ccv/provider/keeper/key_assignment_test.go
  x/ccv/provider/types/keys.go
  x/ccv/provider/types/keys_test.go
Labels: C:Testing, C:x/consumer, C:x/provider, C:Docs, C:ADR

#1668 docs: modify epochs ADR to capture latest design
  docs/docs/adrs/adr-014-epochs.md
Labels: C:Docs, C:ADR

#1660 feat!: introduce epochs
  docs/docs/adrs/adr-001-key-assignment.md
  docs/docs/introduction/params.md
  proto/interchain_security/ccv/provider/v1/provider.proto
  tests/e2e/actions.go
  tests/e2e/config.go
  tests/integration/common.go
  tests/integration/distribution.go
  tests/integration/expired_client.go
  tests/integration/key_assignment.go
  tests/integration/setup.go
  tests/integration/slashing.go
  tests/integration/soft_opt_out.go
  tests/integration/unbonding.go
  tests/integration/valset_update.go
  tests/mbt/driver/mbt_test.go
  tests/mbt/driver/setup.go
  testutil/keeper/unit_test_helpers.go
  x/ccv/consumer/types/keys.go
  x/ccv/provider/keeper/grpc_query_test.go
  x/ccv/provider/keeper/key_assignment.go
  x/ccv/provider/keeper/key_assignment_test.go
  x/ccv/provider/keeper/params.go
  x/ccv/provider/keeper/params_test.go
  x/ccv/provider/keeper/proposal.go
  x/ccv/provider/keeper/proposal_test.go
  x/ccv/provider/keeper/relay.go
  x/ccv/provider/keeper/relay_test.go
  x/ccv/provider/keeper/validator_set_update.go
  x/ccv/provider/keeper/validator_set_update_test.go
  x/ccv/provider/types/genesis_test.go
  x/ccv/provider/types/keys.go
  x/ccv/provider/types/keys_test.go
  x/ccv/provider/types/params.go
  x/ccv/provider/types/params_test.go
  x/ccv/provider/types/provider.pb.go
Labels: C:Testing, C:x/consumer, C:x/provider, C:x/types, C:Docs, C:ADR, S: NewThings

#1676 test: Add epochs to MBT
  Makefile
  tests/mbt/driver/core.go
  tests/mbt/driver/mbt_test.go
  tests/mbt/driver/model_viewer.go
  tests/mbt/driver/setup.go
  tests/mbt/model/ccv.qnt
  tests/mbt/model/ccv_model.qnt
  tests/mbt/model/ccv_test.qnt
  tests/mbt/model/ccv_utils.qnt
  tests/mbt/run_invariants.sh
Labels: C:Testing, C:x/provider, C:x/types, C:Build

#1691 feat!: introduce epochs
  .changelog/unreleased/features/provider/1516-introduce-epochs.md
  .changelog/unreleased/state-breaking/provider/1516-introduce-epochs.md
  Makefile
  docs/docs/adrs/adr-001-key-assignment.md
  docs/docs/adrs/adr-014-epochs.md
  docs/docs/introduction/params.md
  proto/interchain_security/ccv/provider/v1/provider.proto
  tests/e2e/actions.go
  tests/e2e/config.go
  tests/integration/common.go
  tests/integration/distribution.go
  tests/integration/expired_client.go
  tests/integration/key_assignment.go
  tests/integration/setup.go
  tests/integration/slashing.go
  tests/integration/soft_opt_out.go
  tests/integration/unbonding.go
  tests/integration/valset_update.go
  tests/mbt/driver/core.go
  tests/mbt/driver/mbt_test.go
  tests/mbt/driver/model_viewer.go
  tests/mbt/driver/setup.go
  tests/mbt/model/ccv.qnt
  tests/mbt/model/ccv_model.qnt
  tests/mbt/model/ccv_test.qnt
  tests/mbt/model/ccv_utils.qnt
  tests/mbt/run_invariants.sh
  testutil/keeper/unit_test_helpers.go
  x/ccv/consumer/types/keys.go
  x/ccv/provider/keeper/grpc_query_test.go
  x/ccv/provider/keeper/key_assignment.go
  x/ccv/provider/keeper/key_assignment_test.go
  x/ccv/provider/keeper/params.go
  x/ccv/provider/keeper/params_test.go
  x/ccv/provider/keeper/proposal.go
  x/ccv/provider/keeper/proposal_test.go
  x/ccv/provider/keeper/relay.go
  x/ccv/provider/keeper/relay_test.go
  x/ccv/provider/keeper/validator_set_update.go
  x/ccv/provider/keeper/validator_set_update_test.go
  x/ccv/provider/types/genesis_test.go
  x/ccv/provider/types/keys.go
  x/ccv/provider/types/keys_test.go
  x/ccv/provider/types/params.go
  x/ccv/provider/types/params_test.go
  x/ccv/provider/types/provider.pb.go
Labels: C:Testing, C:x/consumer, C:x/provider, C:Build, C:CI, C:Docs, C:ADR

#1701 test: update confusing e2e democracy setup
  tests/e2e/main.go
  tests/e2e/steps.go
  tests/e2e/steps_democracy.go
  tests/e2e/steps_reward_denom.go
  tests/e2e/trace_handlers_test.go
Labels: testing, C:Testing, S: KTLO, A:backport/v4.0.x

#1704 test: update confusing e2e democracy setup (#1701)
  tests/e2e/main.go
  tests/e2e/steps.go
  tests/e2e/steps_democracy.go
  tests/e2e/steps_reward_denom.go
  tests/e2e/trace_handlers_test.go
Labels: C:Testing

#1706 test: fix e2e testcase selection
  tests/e2e/actions.go
  tests/e2e/config.go
  tests/e2e/main.go
  tests/e2e/test_runner.go
  tests/e2e/test_target.go
Labels: C:Testing

#1689 chore: rebase PSS branch with main
  tests/e2e/builder.go
  tests/e2e/test_target.go
  tests/mbt/driver/mbt_test.go
Labels: C:Testing, C:x/consumer, C:x/provider, C:x/types, C:Build, C:CI, C:Docs, C:ADR

#1709 feat!: complete the PSS reward distribution
  tests/integration/distribution.go
  x/ccv/provider/keeper/distribution.go
  x/ccv/provider/keeper/distribution_test.go
Labels: C:Testing, C:x/provider, C:x/types, C:Build

#1705 test: fix E2E consumer misbehaviour test
  tests/e2e/actions_consumer_misbehaviour.go
Labels: C:Testing

#1710 feat!: Add slashing logic for PSS
  x/ccv/provider/keeper/keeper_test.go
  x/ccv/provider/keeper/relay.go
  x/ccv/provider/keeper/relay_test.go
Labels: C:Testing, C:x/provider, C:x/types, C:Build

#1717 ci: do not scan the tests for security issues
  .github/workflows/gosec.yml
Labels: C:CI

#1708 feat!: update PSS cli
  x/ccv/provider/client/cli/tx.go
  x/ccv/provider/handler.go
  x/ccv/provider/types/msg.go
Labels: C:Testing, C:x/consumer, C:x/provider, C:x/types, C:Build, C:CI, C:Docs, C:ADR

#1640 test: MBT: Add slashing to model
  app/consumer-democracy/proposals_whitelisting_test.go
  tests/mbt/driver/README.md
  tests/mbt/driver/core.go
  tests/mbt/driver/generate_more_traces.sh
  tests/mbt/driver/generate_traces.sh
  tests/mbt/driver/mbt_test.go
  tests/mbt/driver/model_viewer.go
  tests/mbt/driver/setup.go
  tests/mbt/driver/stats.go
  tests/mbt/model/README.md
  tests/mbt/model/ccv.qnt
  tests/mbt/model/ccv_model.qnt
  tests/mbt/model/ccv_test.qnt
  tests/mbt/model/ccv_utils.qnt
  tests/mbt/model/libraries/extraSpells.qnt
  tests/mbt/run_invariants.sh
  testutil/ibc_testing/generic_setup.go
  testutil/integration/validators.go
Labels: C:Testing

#1730 feat!: only perform consumer additions for non-empty chains
  x/ccv/provider/keeper/proposal.go
  x/ccv/provider/keeper/proposal_test.go
Labels: C:x/provider

#1736 fix: change hooks for cutting v4.1.0-lsm release
  x/ccv/provider/keeper/hooks.go
Labels: C:x/provider

#1733 feat: Add queries for PSS and consumer commission rate
  go.mod
  proto/interchain_security/ccv/provider/v1/query.proto
  x/ccv/provider/client/cli/query.go
  x/ccv/provider/keeper/grpc_query.go
  x/ccv/provider/keeper/keeper.go
  x/ccv/provider/keeper/keeper_test.go
  x/ccv/provider/keeper/partial_set_security.go
  x/ccv/provider/keeper/proposal_test.go
  x/ccv/provider/types/query.pb.go
  x/ccv/provider/types/query.pb.gw.go
Labels: C:Testing, C:x/consumer, C:x/provider, C:x/types, C:Build
