Repository cosmos/interchain-security, pull requests merged in 2024-02, with the labels that each got.

#1618 docs: tiny ADR fix
  docs/docs/adrs/adr-015-partial-set-security.md
Labels: C:Docs, C:ADR

#1617 deps!: use cosmos-sdk v47-lsm
  Dockerfile
  go.mod
  go.sum
  tests/difference/core/driver/setup.go
  x/ccv/provider/keeper/hooks.go
Labels: tech-debt, dependencies, S: KTLO

#1615 feat!: enable Opt In and Top N chains through gov proposals
  .changelog/unreleased/features/1587-enable-opt-in-chains-through-gov-proposals.md
  proto/interchain_security/ccv/provider/v1/provider.proto
  testutil/keeper/unit_test_helpers.go
  x/ccv/provider/client/proposal_handler.go
  x/ccv/provider/keeper/keeper.go
  x/ccv/provider/keeper/keeper_test.go
  x/ccv/provider/keeper/proposal.go
  x/ccv/provider/keeper/proposal_test.go
  x/ccv/provider/proposal_handler_test.go
  x/ccv/provider/types/keys.go
  x/ccv/provider/types/keys_test.go
  x/ccv/provider/types/proposal.go
  x/ccv/provider/types/proposal_test.go
  x/ccv/provider/types/provider.pb.go
Labels: C:Testing, C:x/provider

#1620 feat!: introduce MsgOptIn and MsgOptOut
  proto/interchain_security/ccv/provider/v1/tx.proto
  x/ccv/provider/client/cli/tx.go
  x/ccv/provider/keeper/keeper.go
  x/ccv/provider/keeper/keeper_test.go
  x/ccv/provider/keeper/key_assignment.go
  x/ccv/provider/keeper/msg_server.go
  x/ccv/provider/keeper/partial_set_security.go
  x/ccv/provider/keeper/partial_set_security_test.go
  x/ccv/provider/types/codec.go
  x/ccv/provider/types/keys.go
  x/ccv/provider/types/keys_test.go
  x/ccv/provider/types/msg.go
  x/ccv/provider/types/provider.pb.go
  x/ccv/provider/types/tx.pb.go
  x/ccv/types/events.go
Labels: C:x/provider, C:x/types

#1627 test: MBT: Add partial set security to model (feature branch version)
  Makefile
  tests/mbt/model/README.md
  tests/mbt/model/ccv.qnt
  tests/mbt/model/ccv_boundeddrift.qnt
  tests/mbt/model/ccv_model.qnt
  tests/mbt/model/ccv_pss.qnt
  tests/mbt/model/ccv_pss_model.qnt
  tests/mbt/model/ccv_pss_test.qnt
  tests/mbt/model/ccv_sync.qnt
  tests/mbt/model/ccv_test.qnt
  tests/mbt/model/ccv_utils.qnt
  tests/mbt/model/libraries/extraSpells.qnt
  tests/mbt/model/run_invariants.sh
  tests/mbt/run_invariants.sh
Labels: C:Testing, C:Build

#1628 test: Ports key assignment to the driver on the PSS feature branch
  tests/mbt/driver/core.go
  tests/mbt/driver/generate_more_traces.sh
  tests/mbt/driver/generate_traces.sh
  tests/mbt/driver/mbt_test.go
  tests/mbt/driver/stats.go
Labels: C:Testing

#1629 feat!: automatically opt in validators that vote Yes on consumer addition proposals
  testutil/keeper/mocks.go
  x/ccv/provider/keeper/hooks.go
  x/ccv/provider/keeper/hooks_test.go
  x/ccv/provider/keeper/keeper.go
  x/ccv/provider/keeper/keeper_test.go
  x/ccv/types/expected_keepers.go
Labels: C:Testing, C:x/provider, C:x/types

#1596 docs: update key assignment doc
  docs/docs/adrs/adr-005-cryptographic-equivocation-verification.md
  docs/docs/features/key-assignment.md
Labels: C:Docs, C:ADR

#1638 docs: update broken links to docs
  docs/docs/validators/joining-testnet.md
  docs/docs/validators/overview.md
Labels: C:Docs

#1641 chore: update cosmos-sdk to v0.47.8-ics-lsm
  .changelog/v3.3.1-lsm/improvements/provider/1445-query-provider-parameters.md
  .changelog/v3.3.1-lsm/state-breaking/1641-use-lsm-sdk
  .changelog/v3.3.1-lsm/summary.md
  go.mod
  go.sum
Labels: cosmos-sdk, tech-debt, S: KTLO

#1619 docs: Small tweaks to PSS adr for clarity
  docs/docs/adrs/adr-015-partial-set-security.md
Labels: C:Docs, C:ADR

#1636 test: Add driver for PSS
  tests/mbt/driver/core.go
  tests/mbt/driver/generate_more_traces.sh
  tests/mbt/driver/generate_traces.sh
  tests/mbt/driver/mbt_test.go
  tests/mbt/driver/setup.go
  tests/mbt/model/ccv_pss_model.qnt
Labels: C:Testing

#1643 test: update e2e gaia dockerfile; add gaia with cometmock
  Dockerfile.gaia
  Makefile
Labels: testing, tech-debt, C:Build, S: KTLO

#1648 deps: ICS with latest changes for v0.47.9-ics-lsm
  go.mod
  go.sum
Labels: S: KTLO

#1079 chore: bump hermes to v1.8.0
  Dockerfile
  Dockerfile.gaia
Labels: C:Testing, C:x/provider, C:Build

#1632 feat!: add PSS reward distribution spike
  app/provider/app.go
  proto/interchain_security/ccv/provider/v1/provider.proto
  tests/integration/distribution.go
  testutil/integration/debug_test.go
  testutil/keeper/mocks.go
  x/ccv/provider/ibc_middleware.go
  x/ccv/provider/ibc_middleware_test.go
  x/ccv/provider/keeper/distribution.go
  x/ccv/provider/keeper/distribution_test.go
  x/ccv/provider/module.go
  x/ccv/provider/types/consumer.go
  x/ccv/provider/types/keys.go
  x/ccv/provider/types/keys_test.go
  x/ccv/provider/types/provider.pb.go
  x/ccv/types/expected_keepers.go
Labels: C:Testing, C:x/provider, C:x/types, S: NewThings

#1653 test: bump Hermes to v1.8.0 in Docker files
  Dockerfile
  Dockerfile.combined
Labels: C:Build

#1659 feat! use protos to serialize opted-in validators
  proto/interchain_security/ccv/provider/v1/provider.proto
  x/ccv/provider/keeper/distribution_test.go
  x/ccv/provider/keeper/keeper.go
  x/ccv/provider/keeper/keeper_test.go
  x/ccv/provider/keeper/key_assignment.go
  x/ccv/provider/keeper/partial_set_security.go
  x/ccv/provider/keeper/partial_set_security_test.go
  x/ccv/provider/types/keys.go
  x/ccv/provider/types/provider.pb.go
Labels: C:x/provider

#1656 test: support backward compatiblity checks in e2e testing
  .github/workflows/nightly-e2e.yml
  .github/workflows/test.yml
  Dockerfile.combined
  Makefile
  app/consumer/genesis.go
  go.mod
  go.sum
  tests/e2e/actions.go
  tests/e2e/builder.go
  tests/e2e/config.go
  tests/e2e/main.go
  tests/e2e/state.go
  tests/e2e/steps.go
  tests/e2e/steps_compatibility.go
  tests/e2e/test_driver.go
  tests/e2e/test_runner.go
  tests/e2e/test_target.go
Labels: C:Testing, C:Build, C:CI
