Repository cosmos/interchain-security, pull requests merged in 2024-12, with the labels that each got.

#2403 feat!: Customizable Slashing and Jailing
  .changelog/unreleased/features/2403-customizable-slashing-jailing.md
  .changelog/unreleased/state-breaking/2403-customizable-slashing-jailing.md
  UPGRADING.md
  docs/docs/build/modules/02-provider.md
  docs/docs/features/slashing.md
  proto/interchain_security/ccv/provider/v1/provider.proto
  proto/interchain_security/ccv/provider/v1/query.proto
  proto/interchain_security/ccv/provider/v1/tx.proto
  scripts/test_doc/test_documentation.md
  tests/integration/double_vote.go
  tests/integration/misbehaviour.go
  testutil/ibc_testing/generic_setup.go
  testutil/keeper/expectations.go
  testutil/keeper/unit_test_helpers.go
  x/ccv/provider/client/cli/tx.go
  x/ccv/provider/keeper/consumer_equivocation.go
  x/ccv/provider/keeper/consumer_equivocation_test.go
  x/ccv/provider/keeper/consumer_lifecycle.go
  x/ccv/provider/keeper/grpc_query.go
  x/ccv/provider/keeper/grpc_query_test.go
  x/ccv/provider/keeper/infraction_parameters.go
  x/ccv/provider/keeper/infraction_parameters_test.go
  x/ccv/provider/keeper/msg_server.go
  x/ccv/provider/keeper/msg_server_test.go
  x/ccv/provider/keeper/relay.go
  x/ccv/provider/keeper/relay_test.go
  x/ccv/provider/module.go
  x/ccv/provider/types/errors.go
  x/ccv/provider/types/keys.go
  x/ccv/provider/types/keys_test.go
  x/ccv/provider/types/msg.go
  x/ccv/provider/types/msg_test.go
  x/ccv/provider/types/provider.go
  x/ccv/provider/types/provider.pb.go
  x/ccv/provider/types/query.pb.go
  x/ccv/provider/types/tx.pb.go
  x/ccv/types/shared_params.go
Labels: C:Testing, C:x/provider, C:x/types, C:Build, C:Docs

#2250 docs: Consumer Chain Clients ADR
  docs/docs/adrs/adr-021-consumer-chain-clients.md
  docs/docs/adrs/figures/adr-021-ics-trusting-period.excalidraw
  docs/docs/adrs/figures/adr-021-ics-trusting-period.png
  docs/docs/adrs/figures/adr-021-sequential-verification.png
  docs/docs/adrs/figures/adr-021-skipping-verification.png
  docs/docs/adrs/figures/adr-021-trusting-period.excalidraw
  docs/docs/adrs/figures/adr-021-trusting-period.png
  docs/docs/adrs/intro.md
Labels: C:Docs, C:ADR

#2416 ci: Added infraction tests to provider suite
  Makefile
  tests/interchain/chainsuite/chain_spec_provider.go
  tests/interchain/chainsuite/config.go
  tests/interchain/chainsuite/query_types.go
  tests/interchain/go.mod
  tests/interchain/go.sum
  tests/interchain/provider_multi_val_test.go
  tests/interchain/provider_single_val_test.go
  tests/interchain/provider_suite.go
  tests/interchain/provider_utils.go
Labels: C:Testing, C:Build

#2051 doc: add fault resolution ADR
  docs/docs/adrs/adr-022-fault-resolutions.md
  docs/docs/adrs/intro.md
Labels: C:Docs, C:ADR

#2420 docs: fix some function names in comment
  x/ccv/consumer/types/keys.go
  x/ccv/provider/keeper/key_assignment.go
  x/ccv/provider/types/keys.go
Labels: C:x/consumer, C:x/provider

#2422 docs: change the status of ADR 020 as accepted
  docs/docs/adrs/adr-020-cutomizable_slashing_and_jailing.md
  docs/docs/adrs/intro.md
Labels: C:Docs, C:ADR

#2421 chore: use errors.New to replace fmt.Errorf with no parameters
  x/ccv/provider/ibc_module.go
  x/ccv/provider/types/genesis.go
  x/ccv/provider/types/msg.go
  x/ccv/types/shared_params.go
  x/ccv/types/wire.go
Labels: C:x/provider, C:x/types

#2396 feat!: enable unjail on pre-ccv chains
  scripts/test_doc/test_documentation.md
  tests/integration/democracy.go
  tests/integration/unbonding.go
  testutil/integration/debug_test.go
  x/ccv/consumer/keeper/changeover.go
  x/ccv/consumer/keeper/validators.go
  x/ccv/consumer/keeper/validators_test.go
Labels: C:Testing, C:x/consumer

#2434 test: test unjail ops only when standalone staking is not available
  tests/integration/unbonding.go
Labels: C:Testing

#2433 feat!: Add tombstone field to SlashJailParameters
  docs/docs/build/modules/02-provider.md
  proto/interchain_security/ccv/provider/v1/provider.proto
  testutil/keeper/unit_test_helpers.go
  x/ccv/provider/client/cli/tx.go
  x/ccv/provider/keeper/consumer_equivocation.go
  x/ccv/provider/keeper/consumer_equivocation_test.go
  x/ccv/provider/keeper/infraction_parameters.go
  x/ccv/provider/types/msg_test.go
  x/ccv/provider/types/provider.go
  x/ccv/provider/types/provider.pb.go
Labels: C:Testing, C:x/provider, C:Docs
